body {
	color: #eee;
}

/* white navbar */
.navbar {
	background: transparent;
	//background-color:rgba(248, 248, 248, 0.8);
	border: none;
	//box-shadow: none;
}
.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
	background-color: #ddd;
}
.navbar .navbar-nav>li>a, .navbar .navbar-nav>li>a:focus, .navbar .navbar-nav>li>a:hover {
	//color: black; /*white;*/
	background: transparent;
}
.navbar .navbar-nav>li.active>a, .navbar .navbar-nav>li.active>a:hover {
	font-weight: bold;
	background: transparent;
}
.navbar .navbar-brand, .navbar .navbar-brand:hover {
	//color: black; /*white;*/
	background: transparent;
}
/*
 * 3-column style
 */
.item {
	margin-left: 0.5%; margin-right: 0.5%;
	padding-top: 20px;
	padding-bottom: 20px;
}
@media screen and (min-width: 750px) {
	.item.col-sm-6 { width: 49%; }
}
@media screen and (min-width: 970px) {
	.item.col-md-3 { width: 24%; }
	.item.col-md-4 { width: 32.3%; }
}
.item {
	border-radius: 5px;
	margin-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	color: #eee;
}

#header {
	text-align: center;
	padding-bottom: 30px;
}
