#main {
	//background-color: rgba(255, 255, 255, 0.7);
}

.larger-font {
	font-size: 15pt;
	color: white;
}

.nav {
	font-size: 14px;
}

.sponsor {
	width: 90px;
	display: inline-block;
	vertical-align: middle;
}

@media only screen and (max-width: 750px) {
	.sponsor {
		width: 50px;
	}
}

.nav > li > a {
	color: white;
	background-color: #333333;
}
.nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a {
	background-color: white;
	color: black;
}
