#main > h1, #main > h2, #main > h3, #main > h4 {
	color: white;
}
.page-header > h1, .page-header > h2, .page-header > h3, .page-header > h4 {
	color: white;
}

.larger-font {
	font-size: 15pt;
	color: #DDDDDD;
}

.nav {
	font-size: 14px;
}

.sponsor {
	width: 90px;
	display: inline-block;
	vertical-align: middle;
}

@media only screen and (max-width: 750px) {
	.sponsor {
		width: 50px;
	}
}

.nav > li > a {
	color: white;
	background-color: #333333;
}
.nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a {
	background-color: white;
	color: black;
}

@keyframes spin {
	from { transform: scale(1) rotate(0deg);}
	to { transform: scale(1) rotate(360deg);}
}
.glyphicon-refresh-animate {
	animation: spin .7s infinite linear;
}
