body {
	font-size: 20px;
}

.table-of-content {
	font-size: 15px;
}

.sponsor {
	width: 90px;
	display: inline-block;
	vertical-align: middle;
}

@media only screen and (max-width: 750px) {
	.sponsor {
		width: 50px;
	}
}

/*
 * rotating glyphicon
 */
@keyframes spin {
	from { transform: scale(1) rotate(0deg);}
	to { transform: scale(1) rotate(360deg);}
}
.glyphicon-refresh-animate {
	animation: spin .7s infinite linear;
}
