body {
  background-image: url('//image.lecospa.mar98.tk/symposium_2015/e65c44436495db7275e9ff9e7adef8c3-background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
