{extends file='admin.tpl'}

{block name=main}
<div class="page-header">
	<h1>Committees</h1>
</div>

<ol class="breadcrumb">
	<li><a href="{$smarty.const.TOP}/admin/index.php">管理後台</a></li>
	<li class="active">Committees</li>
</ol>

<div class="table-responsive">
<table class="table table-hover">
	<thead>
		<tr>
			<th>姓名</th>
			<th>照片</th>
			<th>Email</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr><th colspan="5">IAC Chair <span class="badge">{$committees['IACCHAIR']|count}</span></th></tr>
		{include file='./committees_table.part.tpl' people=$committees['IACCHAIR'] committee_id='1'}
		<tr><th colspan="5">IAC <span class="badge">{$committees['IAC']|count}</span></th></tr>
		{include file='./committees_table.part.tpl' people=$committees['IAC'] committee_id='2'}
		<tr><th colspan="5">LOC Chair <span class="badge">{$committees['LOCCHAIR']|count}</span></th></tr>
		{include file='./committees_table.part.tpl' people=$committees['LOCCHAIR'] committee_id='3'}
		<tr><th colspan="5">LOC <span class="badge">{$committees['LOC']|count}</span></th></tr>
		{include file='./committees_table.part.tpl' people=$committees['LOC'] committee_id='4'}
	</tbody>
</table>
</div>
<form class="form-inline" action="{$smarty.const.TOP}/admin/committee.php" method="POST">
	姓名
	<select class="form-control" name="person_id" required>
		<option value=""></option>
		{foreach $people as $person}
			<option value="{$person.id}">{$person.first_name|escape} {$person.last_name|escape}</option>
		{/foreach}
	</select>
	職稱
	<select class="form-control" name="committee_id" required>
		<option value="">請選擇</option>
		<option value="1">IAC Chair</option>
		<option value="2">IAC</option>
		<option value="3">LOC Chair</option>
		<option value="4">LOC</option>
	</select>
	<button type="submit" class="btn btn-primary">新增</button>
</form>
{/block}
