{extends file='../admin.tpl'}
{block name=main}
<div class="page-header">
	<h1>編輯</h1>
</div>
<ol class="breadcrumb">
	<li><a href="{$smarty.const.TOP}/admin/index.php?token={$token}">管理後台</a></li>
	<li><a href="{$smarty.const.TOP}/admin/committees.php?token={$token}">Committees</a></li>
	<li class="active">編輯 </li>
</ol>
{nocache}
<form action="committee.php?token={$token}&person_id={$person.id}&method=patch" method="POST" class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-2 control-label">姓名</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="inputFirstName" placeholder="First name" value="{$person.first_name|escape}" name="first_name">
			<input type="text" class="form-control" id="inputLastName" placeholder="Last name" value="{$person.last_name|escape}" name="last_name">
		</div>
	</div>
	<div class="form-group">
		<label for="inputEmail" class="col-sm-2 control-label">Email</label>
		<div class="col-sm-10">
			<input type="email" class="form-control" id="inputEmail" placeholder="Email" value="{$person.email|escape}" name="email">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary">更新資料</button>
		</div>
	</div>
</form>
<div class="row">
	<div class="col-md-12">
		<p class="form-control-static">
			{if $person.img}
				<img class="img-responsive img-thumbnail" style="width: 150px;" src="{$smarty.const.TOP}/uploads/{$person.img}" />
			{else}
				No
			{/if}
		</p>
	</div>
</div>
{/nocache}
{/block}
