{extends file='admin.tpl'}

{block name=main}
<div class="page-header">
	<h1>Admin - Committees</h1>
</div>
{include file='./committees_table.part' people=$iac_chairs}
{include file='./committees_table.part' people=$iacs}
{include file='./committees_table.part' people=$loc_chairs}
{include file='./committees_table.part' people=$locs}
<form class="form-inline" action="{$smarty.const.TOP}admin/person/insert.php?token={$token}" method="POST">
	<input type="text" class="form-control" name="first_name" placeholder="Committee First Name">
	<input type="text" class="form-control" name="last_name" placeholder="Committee Last Name">
	<input type="email" class="form-control" name="email" placeholder="Committee Email">
	<select class="form-control" name="type">
		<option value=""></option>
		<option value="IACCHAIR">IAC Chair</option>
		<option value="IAC">IAC</option>
		<option value="LOCCHAIR">LOC Chair</option>
		<option value="LOC">LOC</option>
	</select>
	<button type="submit" class="btn btn-primary">Create New Committee</button>
	<br />
	<br />
</form>
{/block}
