{extends file='../others.tpl'}

{block name=title}Second LeCosPA Symposium - Admin{/block}

{block name=main_style}
{/block}

{block name=main}
<div class="page-header">
	<h1>Admin</h1>
</div>
<div style="background-color: white;">
<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Photo</th>
			<th>Email</th>
			<th>Title</th>
			<th>Abstract</th>
			<th>Login URL</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{foreach $ispeakers as $ispeaker}
		<tr>
			<td>{$ispeaker['first_name']|escape} {$ispeaker['last_name']|escape}</td>
			<td><img class="img-responsive" src="{$smarty.const.TOP}uploads/{$ispeaker['img']}" style="max-height: 50px;"></td>
			<td>{$ispeaker['email']|escape}</td>
			<td>{$ispeaker['title']|escape}</td>
			<td>{$ispeaker['abstract']|escape|nl2br}</td>
			<td><a href="{$smarty.const.TOP}ispeaker/main.php?token={$ispeaker['auth']['token']}">{$smarty.const.TOP}ispeaker/main.php?token={$ispeaker['auth']['token']}</a></td>
			<td>
				<form method="POST" action="{$smarty.const.TOP}admin/ispeaker/delete.php?token={$token}">
					<input type="hidden" name="id" value="{$ispeaker['id']}" />
					<button class="btn btn-danger" onClick="return confirm('確定刪除？');">Delete</button>
				</form>
			</td>
		</tr>
		{/foreach}
		<tr>
			<td colspan="7">
				<form class="form-inline" action="{$smarty.const.TOP}admin/ispeaker/insert.php?token={$token}" method="POST">
					<input type="text" class="form-control" name="first_name" placeholder="Speaker First Name">
					<input type="text" class="form-control" name="last_name" placeholder="Speaker Last Name">
					<input type="email" class="form-control" name="email" placeholder="Speaker Email">
					<button type="submit" class="btn btn-primary">Create New Speaker</button>
				</form>
			</td>
		</tr>
	</tbody>
</table>
</div>
{/block}
