{extends file='../others.tpl'}

{block name=title}Second LeCosPA Symposium - Admin{/block}

{block name=main_style}
{/block}

{block name=main}
<div class="page-header">
	<h1>Admin</h1>
</div>
<h2>Plenary Session Speakers</h2>
<table class="table table-hover" style="background-color: white;">
	<thead>
		<tr>
			<th>Name</th>
			<th>Photo</th>
			<th>Email</th>
			<th>Title</th>
			<th>Login URL</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{foreach $plenary_speakers as $person}
		<tr>
			<td>{$person['first_name']|escape} {$person['last_name']|escape}</td>
			<td><img class="img-responsive" src="{$smarty.const.TOP}uploads/{$person['img']}" style="max-height: 50px;"></td>
			<td>{$person['email']|escape}</td>
			<td>{$person['title']|escape}</td>
			<td><a href="{$smarty.const.TOP}person/main.php?token={$person['auth']['token']}">{$smarty.const.TOP}person/main.php?token={$person['auth']['token']}</a></td>
			<td><a class="btn btn-default" href="{$smarty.const.TOP}admin/person/edit.php?token={$token}&id={$person['id']}">編輯</a></td>
			<td>
				<form method="POST" action="{$smarty.const.TOP}admin/person/delete.php?token={$token}">
					<input type="hidden" name="id" value="{$person['id']}" />
					<button class="btn btn-danger" onClick="return confirm('確定刪除？');">Delete</button>
				</form>
			</td>
		</tr>
		{/foreach}
	</tbody>
</table>
<h2>Normal Attendees</h2>
<table class="table table-hover" style="background-color: white;">
	<thead>
		<tr>
			<th>Name</th>
			<th>Photo</th>
			<th>Email</th>
			<th>Title</th>
			<th>Login URL</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{foreach $attendees as $person}
		<tr>
			<td>{$person['first_name']|escape} {$person['last_name']|escape}</td>
			<td><img class="img-responsive" src="{$smarty.const.TOP}uploads/{$person['img']}" style="max-height: 50px;"></td>
			<td>{$person['email']|escape}</td>
			<td>{$person['title']|escape}</td>
			<td><a href="{$smarty.const.TOP}person/main.php?token={$person['auth']['token']}">{$smarty.const.TOP}person/main.php?token={$person['auth']['token']}</a></td>
			<td><a class="btn btn-default" href="{$smarty.const.TOP}admin/person/edit.php?token={$token}&id={$person['id']}">編輯</a></td>
			<td>
				<form method="POST" action="{$smarty.const.TOP}admin/person/delete.php?token={$token}">
					<input type="hidden" name="id" value="{$person['id']}" />
					<button class="btn btn-danger" onClick="return confirm('確定刪除？');">Delete</button>
				</form>
			</td>
		</tr>
		{/foreach}
	</tbody>
</table>
<h2>Add ...</h2>
<form class="form-inline" action="{$smarty.const.TOP}admin/person/insert.php?token={$token}" method="POST">
<table class="table table-hover" style="background-color: white;">
	<thead>
		<tr>
			<th>Type</th>
			<th>Name</th>
			<th>Email</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<select class="form-control" name="type">
					<option value="Normal">Attendee</option>
					<option value="Plenary">Plenary Session Speaker</option>
					<option value="Parallel">Parallel Session Speaker</option>
					<option value="Poster">Poster</option>
				</select>
			</td>
			<td>
				<input type="text" class="form-control" name="first_name" placeholder="Speaker First Name">
				<input type="text" class="form-control" name="last_name" placeholder="Speaker Last Name">
			</td>
			<td><input type="email" class="form-control" name="email" placeholder="Speaker Email"></td>
			<td><button type="submit" class="btn btn-primary">Create New Speaker</button></td>
		</tr>
	</tbody>
</table>
</form>
{/block}
