{extends file='admin.tpl'}

{block name=main}
<div class="page-header">
	<h1>Admin</h1>
</div>

<h2>Plenary Session Speakers</h2>
{include file='./person_table.part' people=$plenary_speakers}

<h2>Normal Attendees</h2>
{include file='./person_table.part' people=$attendees}

<h2>Add ...</h2>
<form class="form-inline" action="{$smarty.const.TOP}admin/person/insert.php?token={$token}" method="POST">
<table class="table table-hover" style="background-color: white;">
	<thead>
		<tr>
			<th>Type</th>
			<th>Name</th>
			<th>Email</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<select class="form-control" name="type">
					<option value="Normal">Attendee</option>
					<option value="Plenary">Plenary Session Speaker</option>
					<option value="Parallel">Parallel Session Speaker</option>
					<option value="Poster">Poster</option>
				</select>
			</td>
			<td>
				<input type="text" class="form-control" name="first_name" placeholder="Speaker First Name">
				<input type="text" class="form-control" name="last_name" placeholder="Speaker Last Name">
			</td>
			<td><input type="email" class="form-control" name="email" placeholder="Speaker Email"></td>
			<td><button type="submit" class="btn btn-primary">Create New Speaker</button></td>
		</tr>
	</tbody>
</table>
</form>
{/block}
