{extends file='others.tpl'}
{block name=main}
<p>Dear friends,</p>
<p>This is the last announcement before the Symposium. We hope the information is helpful for preparing your trip to Taipei.</p>
<table class="table table-bordered">
<tr>
	<td class="left-column">1. <u>Symposium Program</u></td>
    <td>The final program of the symposium is now available. Please check it out from <a href="{$smarty.const.TOP}/program.php">our symposium homepage</a></td>
</tr>
<tr>
	<td class="left-column">2. <u>Presentation File</u><br><span style="color: red">For speakers Only!</span></td>
	<td>Please upload your presentation file <span style="color :red">before the date of your presentation</span> via <a href="{$smarty.const.TOP}/submission.php">the submission page</a> with your own <em>password</em>. Or, you can send to <a href="mailto:ntulecospa@ntu.edu.tw">ntulecospa@ntu.edu.tw</a>, our coordinator will upload it for you. <span style="color: red">Please note that there will be an agreement sheet for you to sign</a> (when you arrive) if you are okay with making your slides available to the public on the day of your presentation. We will put your presentation file online only with your permission.</td>
</tr>
<tr>
	<td class="left-column">3. <u>Accommodation</u></td>
	<td>If you are staying at <a href="http://intl-house.howard-hotels.com.tw/">Howard International House</a>, please tell the front desk the reservation code: <span style="color: red">RL06675</span> and your name. (you should be able to simply give them your first and last name). If you need assistance with regard to your stay, please contact <a href="mailto:ntulecospa@ntu.edu.tw">ntulecospa@ntu.edu.tw</a> as soon as possible.</td>
</tr>
<tr>
	<td class="left-column">4. <u>Symposium Location</u></td>
	<td>The symposium will be held in the New Physics Building (NPB) and Astro-Math (AM) Building on NTU campus. The Plenary Sessions will be in NPB International Conference Auditorium (R204). Parallel Sessions will be held on the 8<sup>th</sup> floor and 9<sup>th</sup> floor of the AM Bldg.</td>
</tr>
<tr>
	<td class="left-column">5. <u>Symposium Check-In</u></td> 
	<td>The registration desk will open from 16:00 to 18:00 in the Entrance Hall of the NPB on Dec 13 (Sunday). We strongly encourage you to register during this time period to avoid waiting in line in the morning of Dec 14 (Monday). On Dec 14, our registration desk opens at 8:00am. Please note that we will need your <span style="color: red">passport numbers</span> and <span style="color: red">birthday</span> for the excursion insurance when you check in the symposium.</td>
</tr>
<tr>
	<td class="left-column">6. <u>Weather</u></td>
	<td><a href="http://www.weather.com/">The 7-day forecast</a> indicates that the weather during our symposium may be rainy and cloudy, the temperature is up to 74°F (23°C), and the lowest to 57°F (14°C). Don’t forget to bring a folded umbrella, a cap or a cortex jacket with you.</td>
</tr>
<tr>
	<td class="left-column">7. <u>Dress Code</u></td>
	<td>Speakers who are presenting talk(s) may dress formally, but we recommend you to dress “business casual” during the symposium. For the day of the excursion, sneakers or walking shoes are recommended. <a href="{$smarty.const.TOP}/social_events.php">Here</a> is the social event webpage for your reference.</td>
</tr>
<tr>
	<td class="left-column">8. <u>Proceedings</u></td>
	<td>We have contracted with the World Scientific Publishing to publish our symposium proceedings in hardcopies. All presenters are encouraged to contribute a paper to these proceedings. Detailed guidelines will be provided at the symposium. <span style="color: red">All papers by the Plenary Speakers will be additionally published as refereed papers in a special issue of International Journal of Modern Physics D (IJMPD)</span>.</td>
</tr>
</table>

<p><strong>Thank you and we eagerly look forward to seeing you in Taipei!</strong></p>
<p>Sincerely,</p>
<p>2<sup>nd</sup> LeCosPA Symposium Organizing Committee and Staff</p>

<style type="text/css">
	td.left-column {
		width: 20%;
		text-align: center;
		vertical-align: middle !important;
	}
</style>
{/block}
