{extends file='others.tpl'}
{block name=main}
<h1 class="text-center">Third Announcement of the 2<sup>nd</sup> LeCosPA Symposium</h1>
<h1 class="text-center">-- Everything About Gravity --</h1>
<p class="text-right">November 23, 2015</p>
<p>Thank you so much for your support and patience. The program for our symposium is finally ready. For more program details, <a href="{$smarty.const.TOP}/program.php">please click here.</a> We are very excited about this program and we hope you feel the same. We want to take this opportunity to remind and inform you of some important details:</p>
<p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Accommodation</strong></p>
<p>You can contact our coordinator (<a href="mailto:ntulecospa@ntu.edu.tw">ntulecospa@ntu.edu.tw</a>) to confirm/revise your stay duration.</p>
<br>
<p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Airport Pickup Service</strong></p>
<p>If you requested an airport pickup service through the registration system, please send in your itinerary (airport, airline, flight numbers, terminal, date, and time must be provided) to <a href="mailto:ntulecospa@ntu.edu.tw">ntulecospa@ntu.edu.tw.</a></p>
<h3 class="text-center">For Speakers Only</h3>
<p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Talk Title and Abstract Submission</strong></p>
<p>We noticed that some of you are yet to submit a title and an abstract for your talk. Please upload your talk title and abstract by logging in <a href="{$smarty.const.TOP}/submission.php">here</a> with your passcode<sup><span class="glyphicon glyphicon-flash" aria-hidden="true"></span></sup> <span style="color:red">by November 27 (This Friday)</span>.</p>
<p><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> If you don’t have a passcode, please click and fill in your information <a href="{$smarty.const.TOP}/submission.php?token=Gkx9cg6gAk">here</a>, the passcode will be sent to your email automatically.</p>
<br>
<p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Publishing the Proceedings</strong></p>
<p>We would like to publish the proceedings of the 2<sup>nd</sup> LeCosPA Symposium in the special issue of the International Journal of Modern Physics D (IJMPD). The deadline for submission will be January 31, 2016. For more information, please click <a href="{$smarty.const.TOP}/publications.php">here</a>.</p>
<br>
<p>Please feel free to ask our assistance with regard to accommodation or other logistic issues. We are looking forward to your visit!</p>
<br>
<p>Sincerely,</p>
<p>2<sup>nd</sup> LeCosPA Symposium Organizing Committee and Staff.</p>
{/block}
