{extends file='others.tpl'}
{block name=main}
<div class="page-header">
	<h1>2<sup>nd</sup>&nbsp;LeCosPA Symposium Proceedings</h1>
</div>
<h2>2. Proceeding of Conference</h2>
<h3>Second LeCosPA Symposium</h3>
<h3>Everything about Gravity</h3>
<br>
<p>Editor: Pisin Chen</p>
<ul>
	<li>Manuscript submission deadline: <strong>January 31, 2016</strong> [to be strictly followed]</li>
	<li><a href="#author-manuscript-preparation-instructions">Author manuscript preparation instructions</a></li>
	<li><a href="#page-limits-for-articles">Page Limits for Articles</a></li>
</ul>
<hr style="border-top:dashed 2px;">
<h2 id="author-manuscript-preparation-instructions">Author Manuscript Preparation Instructions</h2>
<h3>1. Method A: LaTeX2e (<a href="http://www.worldscientific.com/sda/1020/ws-procs961x669_2e.zip">download</a>)</h3>
<p><u>LaTeX2e Style Guide</u></p>
<p>The World Scientific style/template document for LATEX2e, allow authors to prepare manuscripts that can be brought directly into the World Scientific production process for camera-ready titles.</p>
<p>The LATEX2e class file and the sample coded files are located on the website in ZIP format called ws-procs961x669_2e.zip. Once unzipped successfully, you will find the following files:</p>
<hr style="border-top: solid 1px;">
<table>
	<tr>
		<th>Filename</th>
		<th>Purpose</th>
	</tr>
	<tr>
		<td>procs-readme961x669 2e.pdf</td>
		<td>Preliminary guide.</td>
	</tr>
	<tr>
		<td>procs-instruction961x669 2e.pdf</td>
		<td>General instructions for authors &amp; Layout and Font Specification Guide.</td>
	</tr>
	<tr>
		<td>ws-procs961x669.cls</td>
		<td>Main class file.</td>
	</tr>
	<tr>
		<td>ws-crop961x669.sty</td>
		<td>Part of main class file.</td>
	</tr>
	<tr>
		<td>ws-procs961x669.bst</td>
		<td>BIBTEX style file.</td>
	</tr>
	<tr>
		<td>ws-pro-sample.bib</td>
		<td>Sample BIBTEX database.</td>
	</tr>
	<tr>
		<td>procs-fig*.eps</td>
		<td>Sample EPS figures for LATEX users.</td>
	</tr>
	<tr>
		<td>procs-fig*.pdf</td>
		<td>Sample PDF figures for PDFLATEX users.</td>
	</tr>
	<tr>
		<td>ws-procs961x669.tex</td>
		<td>Main TEX file.</td>
	</tr>
	<tr>
		<td>ws-procs961x669.pdf</td>
		<td>Style guide, PDF version of ws-procs961x669.tex.</td>
	</tr>
</table>
<hr style="border-top: solid 1px;">
<p>Apart from the above included support files, this project requires other packages which are by default should available in a good LaTeX2e implementation. If any error message is prompted for a missing package, you can try to download them from a <a href="https://www.ctan.org/search/">CTAN host</a>.</p>
<p>ws-procs961x669.tex, is the sample file coded in LATEX2e to enable authors to use it as a template and for ready reference. ws-procs961x669.tex uses BIBTEX database to produce the bibliography list.</p>
<p>Getting Help Although a lot of effort has been put in to keep the document style easy to use and provide a concise description of the most common aspects of style, it is of course possible that authors encounter problems. Also authors might have suggestions for improvement. In those cases they can email their comments and suggestions to either of the following: <a href="mailto:ykoh@wspc.com.sg">ykoh@wspc.com.sg</a>, <a href="mailto:rajesh@wspc.com.sg">rajesh@wspc.com.sg</a></p>

<h3>2. Method B: MS-Word (<a href="http://www.worldscientific.com/sda/1020/ws-procs961x669_word.zip">download</a>)</h3>
<p><u>Introduction</u></p>
<p>World Scientific has produced a style/template document for MSWord, which will allow authors to prepare manuscripts that can be brought directly into the World Scientific production process for CRC titles of the proceeding size [9.61in x 6.69in]. This will enable more accurate production of page proofs, reducing your need during proofreading to locate typographic mistakes.</p>
<p><u>Word Template Style Guide</u></p>
<p>The World Scientific Word templates and sample files are located on the website in a zip format called ws-procs961x669_word.zip. Download and unzip this. Once unzipped successfully, you will find the following files:</p>
<table>
	<tr>
		<td>procs-readme961x669_word.pdf :</td>
		<td>preliminary guide</td>
	</tr>
	<tr>
		<td>procs-instruction961x669_word :</td>
		<td>general instructions</td>
	</tr>
	<tr>
		<td>ws-procs961x669_word.dotm :</td>
		<td>style / template file</td>
	</tr>
	<tr>
		<td>ws-procs961x669_word.pdf :</td>
		<td>PDF version of ws-procs961x669_word.dotm</td>
	</tr>
</table>
<p>The template can be retained in the current working folder and double clicking it should open a new document based on our styles. Now just overwrite its contents with your text, save and continue editing / styling as required.</p>
<h2 id="page-limits-for-articles">Page Limits for Articles</h2>
<p>Plenary speakers may use up to approximately 10 pages per paper. Both topical Parallel session Organizers and parallel session speakers’ papers are limited to 6 pages.</p>

<style type="text/css">
	th, td {
		padding: 3px;
	}
</style>

{/block}
