{extends file='others.tpl'}
{block name=main}
<div class="page-header">
	<h1>2<sup>nd</sup>&nbsp;LeCosPA Symposium Proceedings</h1>
</div>
<h2>1. International Journal of Modern Physics D</h2>
<h3>Gravitation; Astrophysics and Cosmology</h3>
<br>
<p>Guest-Editor-in Chief: Pisin Chen</p>
<p>Guest Editor (also serve as referees): Topical Parallel Session Organizers</p>
<ul>
	<li>Manuscript submission deadline: <strong>January 31, 2016</strong> [to be strictly followed]</li>
	<li><a href="#author-manuscript-submission-guidelines">Author manuscript submission guidelines</a></li>
	<li><a href="#detailed-guidelines">Detailed Guidelines</a></li>
	<li><a href="#author-manuscript-preparation-instructions">Author Manuscript Preparation Instructions</a></li>
	<li><a href="#page-limits-for-articles">Page Limits for Articles</a></li>
</ul>
<hr style="border-top:dashed 2px;">
<h2 id="author-manuscript-submission-guidelines">Author Manuscript Submission Guidelines</h2>
<ul>
	<li>Authors are encouraged to format their contributions using Latex2e according to the detailed instructions provided in this <a href="http://www.worldscientific.com/sda/1037/ijmpd-2e.zip">download</a> (<a href="http://www.worldscientific.com/page/ijmpd/stylefiles-readme-2e">readme</a>).</li>
	<li>Please submit your papers to: <a href="mailto:fredericawang@phys.ntu.edu.tw">fredericawang@phys.ntu.edu.tw</a></li>
	<li>The <span style="color:red"><strong>minimum requirement</strong> is for manuscripts to be prepared according to the following guidelines.</span></li>
</ul>
<h2 id="detailed-guidelines">Detailed Guidelines</h2>
<ol>
	<li>Submission of a manuscript indicates a tacit understanding that the paper is not under consideration for publication with other journals. Once a paper is accepted, authors are assumed to have transferred the copyright of the paper to World Scientific. Authors are encouraged to include their funding information in the submission to facilitate the potential conversion to open access once the paper is accepted.</li>
	<li>All submitted articles will be acknowledged and articles that are to be considered for publication will be refereed. Authors may recommend appropriate persons as referees for their papers, but this in no way binds the editors to follow their suggestions. Authors may also request to remain anonymous to the referees.</li>
	<li>The manuscript, including the abstract, references, tables, figures and figure captions, should be clearly typed in English, double-spaced for A4 or letter-sized paper, with an ample margin around the text.</li>
	<li>Legible, compact notation should be used so long as it conforms to current practice. Each symbol must be clear, either typed neatly or written in ink and properly aligned to distinguish superscripts and subscripts. Vectors are denoted by arrows at the top, or should be in bold. Sections and subsections of a paper are numbered with Arabic numerals; so are tables and figures. Each page of the manuscript should be numbered at the top.</li>
	<li>References are numbered consecutively with Arabic numerals, in the order of first appearance, and are designated by numbered superscripts in the text. They should be listed at the end of the text. The general format preferred is as follows:
		<ol>
			<li>F. Wilczek, Int. J. Mod. Phys. A 7 (1992) 3911.</li>
			<li>J. D. Bjorken, in Lecture Notes on Current-Induced Reactions, eds. J. Komeret al. (Springer, Heidelberg, 1975).</li>
			<li>A. Bohr and B. R. Mottelson, Nuclear Structure, Vol. 1 (Benjamin, New York, 1969), pp. 100-102.</li>
			<li>R. C. Webb, PhD thesis, Princeton University, 1972.</li>
			<li>T. Toimela, Helsinki Research Institute for Theoretical Physics, Report No. HU-TFT-82-37, 1982 (unpublished).</li>
			<li>I. L. Shapiro and J. Sola, hep-ph/0104182.</li>
		</ol>
	</li>
	<li>Footnotes, other than those referring to acknowledgments and information on grants, should be labelled alphabetically and placed at the bottom of the manuscript page (and not listed separately).</li>
	<li>Tables and figures are also numbered in the order in which they are cited in the text. Figures, which may be embedded in the text or separate, should be black and white (or half-tone) and of a good resolution and sharpness. Compressed formats, such as JPEG, should not use heavy compression, which introduces undesirable artifacts. Bitmap figures, such as photographs or half-tone images, should be at least 300dpi (TIFF, BMP, or JPEG). Vector (line-art) figures, such as charts and technical drawings, should be 600-1200dpi (EPS, PS, PDF). The native formats of software packages will not be permitted.</li>
	<li>A condensed paper title (for running heads) should also be provided.</li>
	<li>Papers submitted will not be returned to the authors. There is no page charge.</li>
	<li>Authors receive FREE PDFs of their published articles (rather than free paper offprints). Authors who would like paper offprints will still be able to order them at reasonable rates (please request an order form).</li>
	<p style="color:red"><strong>IMPORTANT</strong>: Visit our <a href="http://www.worldscientific.com/page/authors/author-rights">Author Rights</a> page to find out about the permissions given to authors to use their PDFs as well as their submitted or accepted preprint articles.</p>
</ol>
<h2 id="author-manuscript-preparation-instructions">Author Manuscript Preparation Instructions</h2>
<h3>LaTeX2e Style Guide</h3>
<p>World Scientific has produced a style/template document in LaTeX2e format for authors contributing to International Journal of Modern Physics D (IJMPD).</p>
<p>The World Scientific LaTeX2e class file and the sample coded file are located on the website in zip format called ijmpd-2e.zip. Download and unzip this. Once unzipped successfully, you will find the following files:</p>
<dl class="dl-horizontal">
	<dt>ws-ijmpd.cls:</dt>
	<dd>LaTeX2e class file</dd>
	<dt>ws-ijmpd.tex:</dt>
	<dd>sample LaTeX coded file for Typesetting Manuscripts</dd>
	<dt>ws-ijmpd.pdf:</dt>
	<dd>sample Typeset pages</dd>
	<dt>ijmpdf1.eps:</dt>
	<dd>Figure/Image file</dd>
	<dt>ws-ijmpd.bst:</dt>
	<dd>Bibliography style file for BiBTeX users</dd>
	<dt>sample.bib:</dt>
	<dd>Sample BiBTeX database</dd>
	<dt>ws-ijmpd_bib.tex:</dt>
	<dd>sample file coded in BiBTeX</dd>
	<dt>ws-ijmpd_bib.pdf:</dt>
	<dd>pdf version of ws-ijmpd_bib.tex</dt>
</dl>
<p>Click <a href="http://www.worldscientific.com/sda/1037/ijmpd-2e.zip">here</a> to download the above files. </p>
<p><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> For help with the use of the World Scientific LaTeX2e class file, please e-mail to either: <a href="mailto:ykoh@wspc.com.sg">ykoh@wspc.com.sg</a> or <a href="mailto:rajesh@wspc.com.sg">rajesh@wspc.com.sg</a></p>
<h2 id="page-limits-for-articles">Page Limits for Articles</h2>
<p>Plenary speakers may use up to approximately 10 pages per papers for publishing in IJMPD.</p>

{/block}
