{extends file='others.tpl'}
{block name=main}
<div class="page-header">
	<h1>Taipei City Excursion</h1>
</div>
<h2 id="lung-shan-temple">Lung-Shan Temple</h2>
<div class="row">
	<div class="col-sm-6">
<p class="larger-font">The   Lungshan   Temple   is   probably what  comes  to  mind  when  you  think  of  a Chinese temple, where you can experience the  local  Chinese  culture  for  worships.  It was  rebuilt  in  1920  and  is  incredibly  well preserved   and   maintained.   Located   in Mengjia,  the  most  prosperous  area  in  the early  Taiwanese  history,  Lungshan  temple attracts  people  by  its  featured  cornices, symbolic   sculptures, traditional   markets, calligraphies  and  fortune tellers.  It  is  with amazing   carving   and   painting   on   every surface  of  the  temple  from  its  42  pillars  to the painted walls. Besides, there is a place called  Snake  Alley  where  you  can  see  the snake  handlers  dealing  with  those  fierce snakes   and   serve   up   them   as   dinner. Lungshan Temple is the best choice for you to  experience  the  traditional  lifestyle  andwitness the piety of believers.</p>
	</div>
	<div class="col-sm-6">
		<div class="row">
			<div class="col-sm-6"><img src="{$smarty.const.TOP}/img/social/lung-shan-temple.jpg" class="img-responsive img-thumbnail"></div>
			<div class="col-sm-6"><img src="{$smarty.const.TOP}/img/social/101.jpg" class="img-responsive img-thumbnail"></div>
		</div>
		<div class="row">
			<div class="col-sm-6"><img src="{$smarty.const.TOP}/img/social/xiaoyoukeng-3.jpg" class="img-responsive img-thumbnail"></div>
			<div class="col-sm-6"><img src="{$smarty.const.TOP}/img/social/總統府.jpg" class="img-responsive img-thumbnail"></div>
		</div>
		<p class="larger-font"><small>You will also have chance to check out Taipei 101, the Yanminshan National Park Area and the Presidential House.</small></p>
	</div>
</div>
{/block}
