{extends file='../others.tpl'}
{block name=main}
<div class="page-header">
	<h1>Title & Abstract Submission</h1>
</div>
{nocache}
{if $message != ''}
<div class="alert alert-success" role="alert">{$message}</div>
{/if}
<form action="main.php?token={$token}" method="POST" class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-2 control-label larger-font">Name</label>
		<div class="col-sm-10">
			<p class="form-control-static larger-font">{$person['first_name']|escape} {$person['last_name']|escape}</p>
		</div>
	</div>
	<div class="form-group">
		<label for="inputType" class="col-sm-2 control-label larger-font">Choice of Sessions</label>
		<div class="col-sm-3">
			<select class="form-control" name="inputtype" id="inputType">
				<option value="Plenary" {if $person['type'] eq 'Plenary'}selected{/if}>Plenary Session Speaker</option>
				<option value="Parallel" {if $person['type'] eq 'Parallel'}selected{/if}>Parallel Session Speaker</option>
				<option value="Poster" {if $person['type'] eq 'Poster'}selected{/if}>Poster</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="inputSessionCode" class="col-sm-2 control-label larger-font">Session Code</label>
		<div class="col-sm-3">
			<select id="inputSessionCode" name="inputsessioncode" class="form-control">
				<option value="" {if $person['session_code'] eq ''}selected{/if}></option>
				<option value="MS" {if $person['session_code'] eq 'MS'}selected{/if}>MS</option>
				<option value="OT" {if $person['session_code'] eq 'OT'}selected{/if}>OT</option>
				<option value="OC" {if $person['session_code'] eq 'OC'}selected{/if}>OC</option>
				<option value="CE" {if $person['session_code'] eq 'CE'}selected{/if}>CE</option>
				<option value="CF" {if $person['session_code'] eq 'CF'}selected{/if}>CF</option>
				<option value="DD" {if $person['session_code'] eq 'DD'}selected{/if}>DD</option>
				<option value="BH" {if $person['session_code'] eq 'BH'}selected{/if}>BH</option>
				<option value="HP" {if $person['session_code'] eq 'HP'}selected{/if}>HP</option>
				<option value="AM" {if $person['session_code'] eq 'AM'}selected{/if}>AM</option>
				<option value="EQ" {if $person['session_code'] eq 'EQ'}selected{/if}>EQ</option>
			</select>
		</div>
		<div class="col-sm-7"><p class="larger-font"><small>(If you have chosen Parallel Session, please select your session code)</small></p></div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label larger-font">Email</label>
		<div class="col-sm-10">
			<p class="form-control-static larger-font">{$person['email']|escape}</p>
		</div>
	</div>
	<div class="form-group">
		<label for="inputTitle" class="col-sm-2 control-label larger-font">Title</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="inputTitle" placeholder="Your speak title" value="{$person['title']|escape}" name="inputtitle">
		</div>
	</div>
	<div class="form-group">
		<label for="inputAbstract" class="col-sm-2 control-label larger-font">Abstract <small>(less than 300 words)</small></label>
		<div class="col-sm-10">
			<textarea id="inputAbstract" class="form-control" rows="5" name="inputabstract">{$person['abstract']|escape}</textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary">Update Information</button>
		</div>
	</div>
</form>
<hr />
<div class="row">
	<div class="col-md-6">
		<form enctype="multipart/form-data" action="upload.php?target=slide" method="POST" class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label larger-font">Slide</label>
				<div class="col-sm-10">
					<p class="form-control-static larger-font">
						{if $person['slide_file']}
							<a href="{$smarty.const.TOP}uploads/{$person['slide_file']}" target="_blank">{$person['slide_file']}</a>
						{else}
							No
						{/if}
					</p>
				</div>
			</div>
			<div class="form-group">
				<label for="inputSlidefile" class="col-sm-2 control-label larger-font">Upload</label>
				<div class="col-sm-10">
					<input name="file" id="inputSlidefile" type="file" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<input type="hidden" name="token" value="{$token}" />
					<button type="submit" class="btn btn-default">Upload</button>
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-6">
		<form enctype="multipart/form-data" action="upload.php?target=img" method="POST" class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label larger-font">Photos</label>
				<div class="col-sm-10">
					<p class="form-control-static larger-font">
						{if $person['img']}
							<img class="img-responsive img-thumbnail" style="width: 150px;" src="{$smarty.const.TOP}uploads/{$person['img']}" />
						{else}
							No
						{/if}
					</p>
				</div>
			</div>
			<div class="form-group">
				<label for="inputImg" class="col-sm-2 control-label larger-font">Upload</label>
				<div class="col-sm-10">
					<input name="file" id="inputImg" type="file" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<input type="hidden" name="token" value="{$token}" />
					<button type="submit" class="btn btn-default">Upload</button>
				</div>
			</div>
		</form>
	</div>
</div>
{/nocache}
{/block}
