<div class="col-sm-3">
<div class="thumbnail" style="height: 256px;"><img src="img/committee/陳江梅.JPG" class="img-responsive img-circle" style="height: 150px;">
<h4>陳江梅</h4>
cmchen@phy.ncu.edu.tw
</div></div>
<div class="col-sm-3">
<div class="thumbnail" style="height: 256px;"><img src="img/committee/陳俊瑋.JPG" class="img-responsive img-circle" style="height: 150px;">
<h4>陳俊瑋</h4>
jwc@phys.ntu.edu.tw
</div></div>
<div class="col-sm-3">
<div class="thumbnail" style="height: 256px;"><img src="img/committee/陳丕燊.JPG" class="img-responsive img-circle" style="height: 150px;">
<h4>陳丕燊</h4>
pisinchen@phys.ntu.edu.tw
</div></div>
<div class="col-sm-3">
<div class="thumbnail" style="height: 256px;"><img src="img/committee/朱創新.JPG" class="img-responsive img-circle" style="height: 150px;">
<h4>朱創新</h4>
cschu@phys.nthu.edu.tw
</div></div>
<div class="col-sm-3">
<div class="thumbnail" style="height: 256px;"><img src="img/committee/耿朝強.JPG" class="img-responsive img-circle" style="height: 150px;">
<h4>耿朝強</h4>
geng@phys.nthu.edu.tw
</div></div>
<div class="col-sm-3">
<div class="thumbnail" style="height: 256px;"><img src="img/committee/顧哲安.JPG" class="img-responsive img-circle" style="height: 150px;">
<h4>顧哲安</h4>
jagu@ntu.edu.tw
</div></div>
<div class="col-sm-3">
<div class="thumbnail" style="height: 256px;"><img src="img/committee/何小剛.JPG" class="img-responsive img-circle" style="height: 150px;">
<h4>何小剛</h4>
hexg@phys.ntu.edu.tw
</div></div>
<div class="col-sm-3">
<div class="thumbnail" style="height: 256px;"><img src="img/committee/細道和夫.JPG" class="img-responsive img-circle" style="height: 150px;">
<h4>細道和夫</h4>
kazuo.hosomichi@gmail.com
</div></div>
<div class="col-sm-3">
<div class="thumbnail" style="height: 256px;"><img src="img/committee/余海禮.JPG" class="img-responsive img-circle" style="height: 150px;">
<h4>余海禮</h4>
hlyu@phys.sinica.edu.tw
</div></div>
