<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/陳江梅.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>陳江梅</h3>
cmchen@phy.ncu.edu.tw
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/陳俊瑋.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>陳俊瑋</h3>
jwc@phys.ntu.edu.tw
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/陳丕燊.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>陳丕燊</h3>
pisinchen@phys.ntu.edu.tw
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/朱創新.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>朱創新</h3>
cschu@phys.nthu.edu.tw
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/耿朝強.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>耿朝強</h3>
geng@phys.nthu.edu.tw
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/顧哲安.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>顧哲安</h3>
jagu@ntu.edu.tw
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/何小剛.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>何小剛</h3>
hexg@phys.ntu.edu.tw
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/細道和夫.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>細道和夫</h3>
kazuo.hosomichi@gmail.com
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/余海禮.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>余海禮</h3>
hlyu@phys.sinica.edu.tw
</div></div>
