<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/Rong-Gen Cai.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>Rong-Gen Cai</h3>
cairg[AT]itp.ac.cn
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/Kiwoon Choi.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>Kiwoon Choi</h3>
kchoi[AT]kaist.ac.kr
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/Warrick J. Couch.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>Warrick J. Couch</h3>
warrick.couch[AT]aao.gov.au
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/Bruce Dawson.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>Bruce Dawson</h3>
bruce.dawson[AT]adelaide.edu.au
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/Loretta Dunne.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>Loretta Dunne</h3>
loretta.dunne[AT]canterbury.ac.nz
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/Yungui Gong.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>Yungui Gong</h3>
yggong[AT]mail.hust.edu.cn
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/Shu-ichiro Inutsuka.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>Shu-ichiro Inutsuka</h3>
inutsuka[AT]nagoya-u.jp
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/Gungwon Kang.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>Gungwon Kang</h3>
gwkang[AT]kisti.re.kr
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/Seunghwan Kim.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>Seunghwan Kim</h3>
swan[AT]postech.ac.kr
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/Sang Pyo Kim.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>Sang Pyo Kim</h3>
sangkim[AT]kunsan.ac.kr
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/Masaki Mori.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>Masaki Mori</h3>
morim[AT]fc.ritsumei.ac.jp
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/Misao Sasaki.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>Misao Sasaki</h3>
misao[AT]yukawa.kyoto-u.ac.jp
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/Takahiro Tanaka.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>Takahiro Tanaka</h3>
t.tanaka[AT]tap.scphys.kyoto-u.ac.jp
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/Raymond volkas.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>Raymond volkas</h3>
raymondv[AT]unimelb.edu.au
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/Xiao-Feng Wang.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>Xiao-Feng Wang</h3>
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/Stuart Wyithe.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>Stuart Wyithe</h3>
swyithe[AT]unimelb.edu.au
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/Jun'ichi Yokoyama.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>Jun'ichi Yokoyama</h3>
yokoyama[AT]resceu.s.u-tokyo.ac.jp
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/Shuangnan Zhang.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>Shuangnan Zhang</h3>
zhangsn[AT]ihep.ac.cn
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/Zhong-Hong Zhu.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>Zhong-Hong Zhu</h3>
zhuzh[AT]bnu.edu.cn
</div></div>
