{extends file='others.tpl'}
{block name=main}
<div class="bs-header" id="content" style="background-image: none; background-color:rgb(191,84,46);">
    <div class="container">
		<h1>Commitee</h1>
    </div>
</div>
<div class="container">
	<h2>International Advisory Committee</h2>
	<div class="row">
		{include file='committee-i.html'}
	</div>
	<h2>Local Organizing Committee:</h2>
	<div class="row">
		{include file='committee-l.html'}
	</div>
</div>
<div id="footer" class="footer" role="contentinfo">
    <div class="container">
    </div>
</div>
{/block}
