<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/陳江梅.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>陳江梅</h3>
<a href="cmchen@phy.ncu.edu.tw">cmchen@phy.ncu.edu.tw</a>
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/陳俊瑋.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>陳俊瑋</h3>
<a href="jwc@phys.ntu.edu.tw">jwc@phys.ntu.edu.tw</a>
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/陳丕燊.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>陳丕燊</h3>
<a href="pisinchen@phys.ntu.edu.tw">pisinchen@phys.ntu.edu.tw</a>
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/朱創新.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>朱創新</h3>
<a href="cschu@phys.nthu.edu.tw">cschu@phys.nthu.edu.tw</a>
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/耿朝強.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>耿朝強</h3>
<a href="geng@phys.nthu.edu.tw">geng@phys.nthu.edu.tw</a>
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/顧哲安.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>顧哲安</h3>
<a href="jagu@ntu.edu.tw">jagu@ntu.edu.tw</a>
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/何小剛.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>何小剛</h3>
<a href="hexg@phys.ntu.edu.tw">hexg@phys.ntu.edu.tw</a>
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/細道和夫.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>細道和夫</h3>
<a href="kazuo.hosomichi@gmail.com">kazuo.hosomichi@gmail.com</a>
</div></div>
<div class="col-sm-4 col-md-3">
<div class="thumbnail"><img src="img/committee/余海禮.JPG" class="img-responsive img-circle" style="height: 150px;">
<h3>余海禮</h3>
<a href="hlyu@phys.sinica.edu.tw">hlyu@phys.sinica.edu.tw</a>
</div></div>
