{extends file='others.tpl'}
{block name=main}
<div class="page-header">
	<h1>Companion Program</h1>



</div>
<p class="larger-font">LeCosPA offers you various types of tours to experience Taiwan during the symposium.</p>
<p class="larger-font">If you are interested in these tours, all you have to do is to email to <a href="mailto:edisonts@ms6.hinet.net">edisonts@ms6.hinet.net</a> <strong><u>by December 12, 2015</u></strong>. In the email, please address the tour(s) you want to have, the date you are planning to go and the hotel you stay. Our travel agency will contact you immediately.</p>
<br>

<h1>Taipei Night Tour</h1>
<div class="row">
	<div class="col-sm-6">
	<img src="{$smarty.const.TOP}/img/companion_program/dumpling.jpeg" class="img-responsive center-block">
	</div>
	<div class="col-sm-6">
	<img src="{$smarty.const.TOP}/img/companion_program/SmallSausageinLargeSausage.jpg" class="img-responsive center-block">
	</div>
</div>
<p class="larger-font">Tour stop</p>
<p class="larger-font">Mongolian Bar-B-Q Dinner>>Bo-An Temple>>Hwahsi Street Night Market>>Taipei 101 (not incl. ticket to observatory)</p>
<div class="panel panel-default larger-font">
	<table class="table table-bordered" style="color:black;">
	<tr><td style="text-align:center;">Meet up Time</td><td>18:00-18:30 pm</td></tr>
	<tr><td style="text-align:center;">Where to Meet</td><td>Hotel Lobby (Howard International House)</td></tr>
	<tr><td style="text-align:center;">Total Duration</td><td>3.5 hrs</td></tr>
	<tr><td style="text-align:center;">Fare</td><td>Adult: TWD1,500, Kid: TWD 1,500</td></tr>
</table></div>
<br>

<h1>Folk Arts Tour</h1>
<p class="larger-font">Sanhsia Tsushih Temple>>Old street in Sanhsia >>Yingko’s pottery Factory & Showroom>>Pottery Street in Yingko</p>
<div class="panel panel-default larger-font">
	<table class="table table-bordered" style="color:black;">
	<tr><td style="text-align:center;">Meet up Time</td><td>13:00-14:00 pm</td></tr>
	<tr><td style="text-align:center;">Where to Meet</td><td>Hotel Lobby (Howard International House)</td></tr>
	<tr><td style="text-align:center;">Total Duration</td><td>4 hrs</td></tr>
	<tr><td style="text-align:center;">Fare</td><td>Adult: TWD1,300, Kid: TWD 1,000</td></tr>
</table></div>
<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-3">
	<img src="{$smarty.const.TOP}/img/companion_program/ceramics1.jpeg" class="img-responsive center-block">
	</div>
	<div class="col-sm-2">
	<img src="{$smarty.const.TOP}/img/companion_program/Ceramics2.jpeg" class="img-responsive center-block">
	</div>
	<div class="col-sm-4"></div>
</div>
<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-3">
	<img src="{$smarty.const.TOP}/img/companion_program/Ceramics3.jpeg" class="img-responsive center-block">
	</div>
	<div class="col-sm-3">
	<img src="{$smarty.const.TOP}/img/companion_program/OldstreetinSanhsia.jpg" class="img-responsive center-block">
	</div>
	<div class="col-sm-4"></div>
</div>
<br>

<h1>Yangmingshan National Park & Hot-Spring Tour</h1>
<div class="panel panel-default larger-font">
	<table class="table table-bordered" style="color:black;">
	<tr><td style="text-align:center;">Meet up Time</td><td>13:00-14:00 pm</td></tr>
	<tr><td style="text-align:center;">Where to Meet</td><td>Hotel Lobby (Howard International House)</td></tr>
	<tr><td style="text-align:center;">Total Duration</td><td>4 hrs</td></tr>
	<tr><td style="text-align:center;">Fare</td><td>Adult: TWD1,500, Kid: TWD 1,200</td></tr>
</table></div>
<p class="larger-font">Yangmingshan National park>>Hot-Spring Bath (nude bath)</p>
<br>

<h2 style="text-align:center">Yangmingshan National Park</h2>
<img src="{$smarty.const.TOP}/img/companion_program/YangmingshanNationalpark-zhuzhihu.jpg" class="img-responsive center-block">
<p class="larger-font">Yangmingshan, the mountainous area north of Taipei City, is famous for its beautiful scenery with traces of volcanic activities and abundant natural resources. Yangmingshan National Park is Taiwan’s third national park and the one closest to a major city. All year round, Yangmingshan has attractions to offer – flowers in spring, beautiful sky in summer, fruits and maple leaves in autumn, as well as hot-spring bathing and snow in winter.</p>
<br>

<div class="row">
	<div class="col-sm-6">
	<h2>Hot-Spring Bathing with Beautiful Mountain Views</h2>
	<p class="larger-font">The Tatun Mountain Range has the largest density of hot springs in Taiwan. Among the 10 different hot-spring locations in the area, Yangmingshan Hot Spring belongs to the mild alkaline sulfuric hot springs. The water has a light milky color and a temperature of about 70 degrees centigrade at its source. Bathing in the hot-spring water has a relaxing and refreshing effect. It helps to relieve muscle pains, nervous pains, digestive problems arteriosclerosis and other ailments.</p>
	</div>
	<div class="col-sm-6">
	<br><br><img src="{$smarty.const.TOP}/img/companion_program/Unknown.jpeg" class="img-responsive center-block">
	</div>
</div>
<br>

<h1>Chiufen Village & Northeast Coast Tour</h1>
<div class="panel panel-default larger-font">
	<table class="table table-bordered" style="color:black;">
    <tr><td style="text-align:center;">Meet up Time</td><td>13:00-13:30 pm</td></tr>
    <tr><td style="text-align:center;">Where to Meet</td><td>Hotel Lobby (Howard International House)</td></tr>
    <tr><td style="text-align:center;">Total Duration</td><td>4 hrs</td></tr>
    <tr><td style="text-align:center;">Fare</td><td>Adult: TWD1,300, Kid: TWD 1,100</td></tr>
</table></div>
<p class="larger-font">Chiufen Village>>Chinkuashih Village (pass by)>>Beitou Cape >>Nanya Rock Formations>>Bay of Yin and Yang</p>
<br>

<div class="row">
	<div class="col-sm-6">
    <br><br><img src="{$smarty.const.TOP}/img/companion_program/juifenVillage-1.jpg" class="img-responsive center-block">
    </div>
	<div class="col-sm-6">
    <h2>Chiufen Village</h2>
    <p class="larger-font">The village of chiufan was once a center of gold mining in Taiwan. The gold is now gone, but the quaint old village, built of closely packed houses clinging to steep mountainsides, continues to offer enchanting scenery and fascinating glimpses into the lifestyle of the past.</p>
    </div>
</div>
<br>

<div class="row">
	<div class="col-sm-6">
	<h2>The Northeast Coast National Scenic Area</h2>
	<p class="larger-font">The Northeast Coast National Scenic Area is located in the northeast corner of Taiwan. The scenic area is noted for its numerous capes and bays backed by green mountains.</p>
	</div>
	<div>
	<br><br><img src="{$smarty.const.TOP}/img/companion_program/images-1.jpeg" class="img-responsive center-block">
	</div>
</div>
<br>

<h1>Taroko (Marble) Gorge Tour</h1>
<div class="panel panel-default larger-font">
    <table class="table table-bordered" style="color:black;">
    <tr><td style="text-align:center;">Meet up Time</td><td>6:00-6:30 am</td></tr>
    <tr><td style="text-align:center;">Where to Meet</td><td>Hotel Lobby (Howard International House)</td></tr>
    <tr><td style="text-align:center;">Total Duration</td><td>1 day</td></tr>
    <tr><td style="text-align:center; vertical-align:middle;">Fare</td>
		<td>
		<p>Adult: TWD5,200, Kid: TWD 4,200</p>
		<p>*To destination by plane, back by railway; including lunch</p>
		<p>*Passport needed for enplaning</p>
		</td>
	</tr>
</table></div>
<p class="larger-font">Itinerary</p>
<p class="larger-font">Pick-up at hotel → transfer to Sungshan Airport → Enplane for Hualien →Arrive at Hualien → Enbus for Takoro Gorge Gateway → Eternal-Spring Shrine → Swallow Grotto → pass by Tunnel of nine Turns → Tienhsiang → Marble factory → Chihsing Beach → Hualien Stone Sculptural Park → Entrain to hotel</p>
<br>

<div class="row">
    <div class="col-sm-6">
	<h2>Taroko National Park</h2>
    <img src="{$smarty.const.TOP}/img/companion_program/Eternal-SpringShrine.jpg" class="img-responsive center-block">
    </div>
    <div class="col-sm-6">
	<br><br><br><p class="larger-font">Taroko National Park is internationally known as one of the world’s scenic wonders. It features breathtaking marble walls and a winding river running through a deep gorge. Among tourist spots in the gorge are Eternal-Spring Shrine, Swallow Grotto, Tunnel of Nine Turns, and the scenic town of Tiensiang. Swallow Grotto is swallows used to nest. At the Tunnel of Nine Turns the highway passes a series of tunnels at the narrowest stretch of the gorge where visitors can marvel at truly amazing geological features.</p>
    </div>
</div>
<br>

<h1>3-Day Tour: Sun Moon Lake & Alishan</h1>
<div class="panel panel-default larger-font">
	<table class="table table-bordered" style="color:black;">
	<tr><td style="text-align:center;">Meet up Time</td><td>8:00-9:00 am</td></tr>
	<tr><td style="text-align:center;">Where to Meet</td><td>Hotel Lobby (Howard International House)</td></tr>
	<tr><td style="text-align:center;">Total Duration</td><td>3 day</td></tr>
	<tr><td style="text-align:center; vertical-align:middle;">Fare</td>
	    <td>
	    <p>Adult: TWD12,500, Kid: TWD 10,000</p>
		<p>*TWD 4,000 extra for single room</p>
	    <p>*incl. breakfast, not incl. lunch and dinner</p>
	    </td>
	</tr>
</table></div>
<p class="larger-font">Itinerary</p>
<p class="larger-font">1st day : Pick-up from hotel → Enbus for Nantou → Puli(cultural and artistic town) → Sun Moon Lake → lake bus tour → Wen Wu Temple → Ita Thao Indigenous Village → Tse-En Pagoda → Holy Monk Shrine →Sun Moon Lake (overnight)<br>Hotel: Fleur de Chine Hotel, Sun Moon Lake (mountain-view room)(5-star)</p>
<p class="larger-font">2nd day : Sun Moon Lake → Alishan National Scenic Area / tea plantation and tea art exhibition center → Chiayi City (overnight)<br>Hotel : Nice Prince Hotel, Chiayi(5-star)</p>
<p class="larger-font">3rd day : Chiayi → Lukang (historical and cultural town) → enbus for Taipei</p>
<div class="row">
	<div class="col-sm-6">
	<img src="{$smarty.const.TOP}/img/companion_program/AlishanNationalScenicArea-1.jpg" class="img-responsive center-block">
	</div>
	<div class="col-sm-6">
	<img src="{$smarty.const.TOP}/img/companion_program/SunMoonLake-1.jpg" class="img-responsive center-block">
	</div>
</div>
<br><br>

<p style="color:white;">Edison Travel Service 宏祥旅行社</p>
<p style="color:white;">Business Hours : 7:00am~11:00pm</p>
<p style="color:white;">Tel : +886-2-2563-5313, 2563-4621, 2541-6785</p>
<p style="color:white;">Fax: +886-2-2563-4803, 2531-1353</p>
<p style="color:white;">E-MAIL : <a href="mailto:edisonts@ms6.hinet.net">edisonts@ms6.hinet.net</a></p>
<p style="color:white;">ADD : 4F ,No. 190, Song Jiang Rd., Taipei, Taiwan</p>
<p style="color:white;"><a href="http://www.edison.com.tw">http://www.edison.com.tw</a></p>
<p style="color:white;">觀光局註冊編號：交觀田字第0381號</p>

{/block}
