{extends file='others.tpl'}
{block name=title}Second LeCosPA Symposium - Social Events{/block}
{block name=main}
<div class="page-header">
	<h1>Conference Videos</h1>
</div>
<ul>
	<li><a href="https://www.youtube.com/playlist?list=PLziMNmzMbkf8JGOZrePiIR8eootEphVe7">Dec. 14 2015</a></li>
	<li><a href="https://www.youtube.com/playlist?list=PLziMNmzMbkf8jYiaMmBXv9d8yAD6QTk6K">Dec. 15 2015</a></li>
	<li><a href="https://www.youtube.com/playlist?list=PLziMNmzMbkf_VmTgnat_ekvEM0dCjIOoa">Dec. 16 2015</a></li>
	<li><a href="https://www.youtube.com/playlist?list=PLziMNmzMbkf-cGAc91jaMZUm4smxW65xm">Dec. 17 2015</a></li>
	<li><a href="https://www.youtube.com/playlist?list=PLziMNmzMbkf9kjdOifq0IX_-e1ohZyGTd">Dec. 18 2015</a></li>
</ul>
{/block}
