{extends file='others.tpl'}

{block name=main}
<p>To celebrate the centenary of Einstein’s General Relativity, we organize the 
2nd LeCosPA International Symposium “Everything about Gravity” on 
December 14-18, 2015 in Taipei under the auspices of the Division of 
Astrophysics-Cosmology-Gravity (DACG), Association of Asia-Pacific Physical 
Societies (AAPPS).</p>
<p>We will examine all aspects of gravity, including but not limited to 
mathematical structures of GR, big bang and black hole singularities, 
modified gravity, quantum gravity, emergent gravity, cosmology, dark matter 
and dark energy, AdS/CFT correspondence, information loss paradox, 
gravitational waves from big bang and other sources, experimental and 
observational gravity, etc.</p>
<p>After 100 years of remarkable success of GR, which is a classical theory, and 
tremendous advancement in our understanding of the other three 
fundamental interactions through quantum field theory, the development of 
a quantum theory of gravity has become a major task in physics in the 21st 
century. This symposium is therefore not just for looking back, but also for 
looking forward. The Topics include,</p>
<ul>
	<li>Overview: 100 Years of General Relativity</li>
	<li>Mathematical Structure &amp; Observational/Experimental Tests of GR
		<ul><li>What is GR’s range of validity?</li></ul>
	</li>
	<li>Cosmology
		<ul>
			<li>How did universe begin?</li>
			<li>Can the structure of quantum gravity shed lights on standard model?</li>
		</ul>
	</li>
	<li>Fundamental Nature of Gravity
		<ul>
			<li>How to reconcile GR and QM?</li>
			<li>What is the solution to information lost paradox?</li>
			<li>Would theory of quantum gravity be unique?</li>
			<li>How universal is holographic principle?</li>
		</ul>
	</li>
	<li>New Ideas
		<ul>
			<li>What are the possible applications of holographic principle?</li>
			<li>Modified theories of gravity</li>
			<li>Is gravity fundamental or emergent?</li>
		</ul>
	</li>
</ul>
{/block}
