{extends file='others.tpl'}
{block name=main}
<!-- Docs page layout -->
<div class="bs-header" id="content" style="background-image: none; background-color:green;">
    <div class="container">
		<h1>Invited Speakers
    </div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<div class="pull-right"><a href="ispeaker-login.php">Login</a></div>


		</div>
	</div>
</div>

<footer class="footer" role="contentinfo">
    <div class="container">
    </div>
</footer>
{/block}
