{extends file='others.tpl'}
{block name=main}
<div class="page-header">
	<h1>2<sup>nd</sup>&nbsp;LeCosPA Symposium Proceedings</h1>
</div>

<h2>Submission Guidelines</h2>
<p class="larger-font">Authors are strongly encouraged to typeset their submissions using the LaTeX2e or Microsoft Word templates of IJMPCS.</p>

<h2>Author manuscript preparation instructions</h2>
<h3>1. Method A: LaTeX2e</h3>
<p class="larger-font"><u>LaTeX2e Style Guide</u></p>
<p class="larger-font">World Scientific has produced a style/template document in LaTeX2e format for authors contributing to International Journal of Modern Physics: Conference Series (IJMPCS).</p>
<p class="larger-font">The World Scientific LaTeX2e class file and the sample coded file are located on the website in zip format called ijmpcs-2e.zip. Download and unzip this. Once unzipped successfully, you will find the following files:</p>
<div class="row">
	<div class="col-sm-3">
		<p class="larger-font">ws-ijmpcs.cls</p>
		<p class="larger-font">ws-ijmpcs.tex</p>
		<p class="larger-font">ws-ijmpcs.pdf</p>
		<p class="larger-font">ijmpcsf1.eps</p>
		<p class="larger-font">ijmpcsf1.pdf</p>
		<p class="larger-font">ws-ijmpcs.bst</p>
		<p class="larger-font">sample.bib</p>
		<p class="larger-font">ws-ijmpcs_bib.tex</p>
		<p class="larger-font">ws-ijmpcs_bib.pdf</p>
	</div>
	<div class="col-sm-9">
		<p class="larger-font">: LaTeX2e class file</p>
		<p class="larger-font">: Sample LaTeX coded file for typesetting manuscripts</p>
		<p class="larger-font">: Sample typeset pages</p>
		<p class="larger-font">: EPS sample figure for LaTeX users</p>
		<p class="larger-font">: PDF sample figure for PDFLaTeX users</p>
		<p class="larger-font">: bibliography style file for BiBTeX users</p>
		<p class="larger-font">: sample BiBTeX database</p>
		<p class="larger-font">: sample file coded in BiBTeX</p>
		<p class="larger-font">: PDF version of ws-ijmpcs_bib.tex</p>
	</div>
</div>
<p class="larger-font">Click <a href="http://www.worldscientific.com/sda/1037/ijmpcs-2e.zip">here</a> to download the above files.</p>
<h3>2. Method B: MS-Word</h3>
<p class="larger-font"><u>Word Template Style Guide</u></p>
<p class="larger-font">World Scientific has produced a style/template document in MS Word format for authors contributing to International Journal of Modern Physics: Conference Series (IJMPCS).</p>
<p class="larger-font">The World Scientific MS Word template and the sample pdf files are located on the website in zip format called ijmpcs-doc.zip. Download and unzip this. Once unzipped successfully, you will find the following files:</p>
<div class="row">
	<div class="col-sm-3">
		<p class="larger-font">readme.pdf</p>
		<p class="larger-font">ws-ijmpcs.dot</p>
		<p class="larger-font">ws-ijmpcs.pdf</p>
	</div>
	<div class="col-sm-9">
		<p class="larger-font">: preliminary guide</p>
		<p class="larger-font">: MS Word template</p>
		<p class="larger-font">: Sample Typeset pages</p>
	</div>
</div>
<p class="larger-font"></p>

<p class="larger-font">Click <a href="http://www.worldscientific.com/sda/1037/ijmpcs-doc.zip">here</a> to download the above files.</p>


{/block}
