{extends file='others.tpl'}
{block name=main}
<div class="page-header">
	<h1>2<sup>nd</sup>&nbsp;LeCosPA Symposium Proceedings</h1>
</div>
<p>We will have papers published in <strong><u>IJMPD</u></strong> and <strong><u>Conference Proceedings</u></strong>.</p>
<p><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Plenary Speakers will publish their peer-reviewed papers in a special issue of IJMPD. In addition, plenary speakers’ papers will also publish in Conference Proceedings.</p>
<p>(IJMPD Template: <a href="{$smarty.const.TOP}/publications/ijmpd_template.php">click here</a>)</p>
<p>(Conference Proceeding’s Template: <a href="{$smarty.const.TOP}/publications/conference_proceedings_template.php">click here</a>)</p>
<br>
<p><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Topical Parallel Speakers: papers will publish in Conference Proceedings.</p>
<p>(Conference Proceeding's Template: <a href="{$smarty.const.TOP}/publications/conference_proceedings_template.php">click here</a>)</p>

{/block}
