{extends file='others.tpl'}

{block name=title}Second LeCosPA Symposium - Registration{/block}

{block name=main}
<div class="page-header">
	<h1>Registration</h1>
</div>
<div class="larger-font">
<p>Important dates list as followed,</p>
<ul>
	<li>Registration opening: August 1, 2015</li>
	<li>Registration deadline: December 10, 2015</li>
	<li>Early Bird deadline: October 31,2015</li>
</ul>
<p>Registration to conference requires three steps:</p>
<ol>
	<li>Choose your ticket type (student or early bird) and tick box "terms of the service" and "privacy policy"</li>
	<li>Fill out the personal information</li>
	<li>Pay the registration fee by credit card</li>
	<li>An order confirmation and link for poster/talk 
title/abstract submission will be sent to your email later. Another email will be sent after you submit your poster/talk title/abstract. That is a passcode for revising or uploading your talk slides</li>
</ol>
<p>In order to enhance and encourage domestic participation, the Second LeCosPA Symposium offers a special fee deduction for scholar (TWD 6,000) and student (TWD 3,000, banquet and city tour are excluded.) affiliated to the institutes and universities in Taiwan. If your affiliation is outside Taiwan, please pick the early bird registration fee “student TWD 6,000” or "non-students TWD12,000".</p>
</div>
{* kktix embed *}
<iframe class="kktix" src="https://kktix.com/tickets_widget?slug=847266bd" frameborder="0" height="420" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
<p class="larger-font">To request a refund:</p>
<p class="larger-font">&nbsp;Please contact us (EMAIL: <a href="mailto:shantsun@ntu.edu.tw">shantsun@ntu.edu.tw</a>)</p>
{/block}
