{extends file='others.tpl'}

{block name=title}Second LeCosPA Symposium - Registration{/block}

{block name=main}
<div class="page-header">
	<h1>Registration</h1>
</div>
<div class="alert alert-warning" role="alert">Attentions (Nov 20, 2015) Registration Closed.<br>Truly sorry for closing the registration earlier than we planned because all the events are fully occupied (banquet, parallel sessions and excursion).<br>The only opened registered option is for scholars who hold the mainland China passport are still waiting for permission to enter Taiwan.<br>Thank you for your supporting to the Second LeCosPA Symposium.<br><span class="pull-right">LeCosPA Admin</span><br></div>
<p>Registration to conference requires three steps:</p>
<ol>
	<li>Choose your ticket type (student or early bird) and tick box "terms of the service" and "privacy policy"</li>
	<li>Fill out the personal information</li>
	<li>Pay the registration fee by credit card</li>
	<li>An order confirmation and link for poster/talk 
title/abstract submission will be sent to your email later. Another email will be sent after you submit your poster/talk title/abstract. That is a passcode for revising or uploading your talk slides</li>
</ol>
{* kktix embed *}
<iframe class="kktix" src="https://kktix.com/tickets_widget?slug=847266bd-117ed6" frameborder="0" height="420" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
<p>To request a refund: please contact us (EMAIL: <a href="mailto:shantsun@ntu.edu.tw">shantsun@ntu.edu.tw</a>)</p>
{/block}
