{extends file='others.tpl'}

{block name=title}Second LeCosPA Symposium - Registration{/block}

{block name=main}
<div class="page-header">
	<h1>Registration</h1>
</div>
<div class="larger-font">
<p>Important dates list as followed,</p>
<ul>
	<li>Registration opening: August 1, 2015</li>
	<li>Registration deadline: December 10, 2015</li>
	<li>Early Bird deadline: October 31,2015</li>
</ul>
<p>Registration to conference requires three steps:</p>
<ol>
	<li>Choose your ticket type (student or early bird) and tick box "terms of the service" and "privacy policy"</li>
	<li>Fill out the personal information</li>
	<li>Pay the registration fee by credit card</li>
</ol>
<p>LeCosPA fellows or students who plan to attend the symposium are welcome to apply the financial support from LeCosPA, but the precondition is either to give an oral or a postal presentation at the symposium.  Please pay the registration fee by yourself below. You will get the reimbursement after the symposium.</p>
</div>
{* kktix embed *}
<iframe class="kktix" src="https://kktix.com/tickets_widget?slug=847266bd" frameborder="0" height="420" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
{/block}
