{extends file='others.tpl'}
{block name=main}
<ul class="menu">
	<li><a href="social_events.php">Back</a></li>
	<li><a href="social_welcome_reception.php">Welcome Reception</a></li>
	<li><a href="social_opening_night_performance.php">Opening Night Concert</a></li>
	<li><a href="social_excursion.php">Excursion</a></li>
	<li><a href="social_symposium_banquet.php">Symposium Banquet</a></li>
</ul>
<div class="page-header">
	<h1>Excursion</h1>
</div>
<h2 id="national-center-for-traditional-arts">National Center for Traditional Arts</h2>
<div class="row">
	<div class="col-sm-6">
		<p><strong>National Center for Traditional Arts</strong> is designed with the goal of preserving Taiwan traditional arts while helping its renewal and innovation. The exterior of National Center for Traditional Arts is in red-tile with modern elements. All buildings and the streets display Taiwan life in earlier time.</p>
	</div>
	<div class="col-sm-6">
		<img src="{$smarty.const.IMGTOP}symposium_2015/3a4281668158f9ac3a62de8881f92433-10226392922_B-720.jpg" class="img-responsive img-thumbnail">
	</div>
</div>
<p>National Center for Traditional Arts is a 24-hectare complex park that includes Definitely Taiwanese, Traditional Theater, Outdoor Theater, Modern Theater, Wen-Chang Temple, Exhibition Center, Traditional Handicraft Artists’ Studio, Traditional Music Hall, library and accommodation area, etc. It helps Taiwan public get close to traditional arts and has the opportunity to participate DIY.</p>
<div class="row">
	<div class="col-sm-6">
		<p>You will arrive here around the early afternoon. It’s just the right time to taste some Taiwanese traditional snacks/food and take a walk and watch traditional Taiwanese performance on the main street. In the meanwhile, hope you can find some interesting traditional handicraft as one of the souvenirs in this trip!</p>
	</div>
	<div class="col-sm-6">
		<img src="{$smarty.const.IMGTOP}symposium_2015/f055056b355be96c00092e6e94dbb040-12188390376_11ee46b9a8_b.jpg" class="img-responsive img-thumbnail">
	</div>
</div>
<p>PS. Taiwanese foods are so delicious that you should try as many as you can!</p>
<p>Website: <a href="http://www.ncfta.gov.tw/ncfta_eh/main/index.aspx">http://www.ncfta.gov.tw/ncfta_eh/main/index.aspx</a></p>
{/block}
