{extends file='others.tpl'}
{block name=main}
<div class="page-header">
	<h1>Social Events</h1>
</div>

<h2>Chiang Kai-Shek Memorial Hall</h2>
<p>This remarkable memorial hall was built in 1980 to memorize Chaing Kai-Shek, the former President of Taiwan. The memorial hall is in blue, white and red, colors of Taiwanese flag, representing independence, equality and universal love. The hall occupies a large area with a heritage display room and auditorium offering historical exhibitions and some fabulous performances. Moreover, what really impresses people is the solem rifle twirling exchange ceremony among soldiers.</p>
<p>Official website: <a href="http://www.cksmh.gov.tw/eng/index.php">http://www.cksmh.gov.tw/eng/index.php</a></p>
{/block}
