{extends file='others.tpl'}
{block name=main}
<div class="page-header">
	<h1>Chiang Kai-Shek Memorial Hall</h1>
</div>
<p class="larger-font">This remarkable memorial hall was built in 1980 to memorize Chaing Kai-Shek, the former President of Taiwan. The memorial hall is in blue, white and red, colors of Taiwanese flag, representing independence, equality and universal love. The hall occupies a large area with a heritage display room and auditorium offering historical exhibitions and some fabulous performances. Moreover, what really impresses people is the solem rifle twirling exchange ceremony among soldiers.</p>
<p class="larger-font">Official website: <a href="http://www.cksmh.gov.tw/eng/index.php">http://www.cksmh.gov.tw/eng/index.php</a></p>
<img src="img/social/CKS_Memorial_Hall.jpg" class="img-responsive img-thumbnail">

<div class="page-header">
	<h1>National Palace Museum</h1>
</div>
<p class="larger-font">The  National  Palace  Museum  is  the  world's  largest collection of priceless artifacts, objects which span China’s 5000  yearlong  history,  which  has  made  themselves  the greatest  and  invaluable  treasure  house  regarding  Chinese art  on  earth.  Many  of  the  artifacts  were  once  a  part  of  the Chinese  Imperial  Collection,  which  was  begun  over  1000 years ago in the early Sung Dynasty. The items amounts to nearly  700,000  pieces  ranging  from delicately  carved  jade ornaments pottery, porcelain, as well as bronze, sculpture, embroidery, calligraphy and paintings, each piece is a true curio.There  is  also  the  lovely  Zhishan  Farden  just  right ahead.  It  was  planned  and  construct  based  on  one  well-known painting in Chinese history in order to show the best part of elegant beauty.</p>

<p>Official website: <a href="http://www.npm.gov.tw/">http://www.npm.gov.tw/</a></p>
<div class="row">
	<div class="col-sm-4"><img src="img/social/1.jpg" class="img-responsive img-thumbnail"></div>
	<div class="col-sm-4"><img src="img/social/03b-b.jpg" class="img-responsive img-thumbnail"></div>
	<div class="col-sm-4"><img src="img/social/900_01.jpg" class="img-responsive img-thumbnail"></div>
</div>

<div class="page-header">
	<h1>Lung-Shan Temple</h1>
</div>
<div class="row">
	<div class="col-sm-6">
<p>The   Lungshan   Temple   is   probably what  comes  to  mind  when  you  think  of  a Chinese temple, where you can experience the  local  Chinese  culture  for  worships.  It was  rebuilt  in  1920  and  is  incredibly  well preserved   and   maintained.   Located   in Mengjia,  the  most  prosperous  area  in  the early  Taiwanese  history,  Lungshan  temple attracts  people  by  its  featured  cornices, symbolic   sculptures, traditional   markets, calligraphies  and  fortune tellers.  It  is  with amazing   carving   and   painting   on   every surface  of  the  temple  from  its  42  pillars  to the painted walls. Besides, there is a place called  Snake  Alley  where  you  can  see  the snake  handlers  dealing  with  those  fierce snakes   and   serve   up   them   as   dinner. Lungshan Temple is the best choice for you to  experience  the  traditional  lifestyle  andwitness the piety of believers.</p>
	</div>
	<div class="col-sm-6">
		<div class="row">
			<div class="col-sm-6"><img src="img/social/lung-shan-temple.jpg" class="img-responsive img-thumbnail"></div>
			<div class="col-sm-6"><img src="img/social/101.jpg" class="img-responsive img-thumbnail"></div>
		</div>
		<div class="row">
			<div class="col-sm-6"><img src="img/social/xiaoyoukeng-3.jpg" class="img-responsive img-thumbnail"></div>
			<div class="col-sm-6"><img src="img/social/總統府.jpg" class="img-responsive img-thumbnail"></div>
		</div>
		<p>You will also have chance to check out Taipei 101, the Yanminshan National Park Area and the Presidential House.</p>
	</div>
</div>

<div class="page-header">
	<h1>Banquet at Shi-Yan Cultural Restaurant</h1>
</div>
<div class="row">
	<div class="col-sm-5"><img src="img/social/shi-yan1.jpg" class="img-responsive img-thumbnail"></div>
	<div class="col-sm-7"><p>Shi-Yan   Cultural   Restaurant   could   be described   as   one   of  Taipei's   premier examples  of  that  culinary  trend  for  its use  of  traditional,  local  ingredients  and styles and prepared to appeal to today’s increasingly   health-conscious   and refined   Taiwanese   palate.   Meals   are relatively  low  in  oil  and  salt  and  have plenty of vegetables.</p></div>
</div>
<div class="row">
	<div class="col-sm-6"><p>A  special  mountainside  retreat  that's usually   only   found   in   nostalgic descriptions  of  a  long-gone  era.  But now,   Shi-Yan   Culture   Restaurant refines  this  vision  and  achieve  a  kind of  cultural  and  culinary  nirvana  that  exists  in  harmony with the surrounding hills and forests for you. A place for your  healthy  and  soul.</p></div>
	<div class="col-sm-6"><img src="img/social/shi-yan2.jpg" class="img-responsive img-thumbnail"></div>
</div>
<p>Official website: <a href="http://www.shi-yang.com/">http://www.shi-yang.com/</a></p>
{/block}
