{extends file='others.tpl'}
{block name=main}
<div class="page-header">
	<h1>Taipei City Excursion</h1>
</div>
<div>
	<h1 id="banquet">Banquet at Shi-Yan Cultural Restaurant</h1>
</div>
<div class="row">
	<div class="col-sm-3 col-sm-offset-1"><img src="{$smarty.const.IMGTOP}symposium_2015/5d31a4e6dc7590b8661dbc9cdfe15c09-shi-yan1-480.jpg" class="img-responsive img-thumbnail"></div>
	<div class="col-sm-7 col-sm-offset-1">
<p class="larger-font">Shi-Yan Cultural Restaurant could   be described   as   one   of  Taipei's   premier examples  of  that  culinary  trend  for  its use  of  traditional,  local  ingredients  and styles and prepared to appeal to today's increasingly   health-conscious   and refined   Taiwanese   palate.&nbsp;
		Meals   are relatively  low  in  oil  and  salt  and  have plenty of vegetables.</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-6"><p>A  special  mountainside  retreat  that's usually   only   found   in   nostalgic descriptions  of  a  long-gone  era.  But now,   Shi-Yan   Culture   Restaurant refines  this  vision  and  achieve  a  kind of  cultural  and  culinary  nirvana  that  exists  in  harmony with the surrounding hills and forests for you. A place for your  healthy  and  soul.</p></div>
	<div class="col-sm-6">
		<img src="{$smarty.const.IMGTOP}symposium_2015/94849e12fb5d2468bf841822e9ea2f99-shi-yan2-480.jpg" class="img-responsive img-thumbnail">
	</div>
</div>
<p class="larger-font">Official website: <a href="http://www.shi-yang.com/">http://www.shi-yang.com/</a></p>
{/block}
