{extends file='others.tpl'}
{block name=main}
<ul class="menu">
	<li><a href="social_events.php">Back</a></li>
	<li><a href="social_welcome_reception">Welcome Reception</a></li>
	<li><a href="social_opening_night_performance.php">Opening Night Performance</a></li>
	<li class="active">Excursion</li>
	<li><a href="social_symposium_banquet.php">Symposium Banquet</a></li>
</ul>
<div class="page-header">
	<h1 id="excursion">Excursion</h1>
</div>
<img src="{$smarty.const.TOP}/img/social/Map_AstroMathBldg.png" class="img-responsive img-thumbnail center-block">
{/block}
