{extends file='others.tpl'}
{block name=main}
<div class="page-header">
	<h1>Taipei City Excursion</h1>
</div>
<h2 id="welcome-reception">Welcome Reception</h2>
<p>Welcome Reception will be held on Monday evening in the entrance hall of the Astro-Math Bldg. on NTU campus. All the participants and companions are cordially invited. Please come to enjoy the relaxed time with your old friends and new friends.</p>
<p>Location: 1<sup>st</sup> floor entrance hall of the Astro-Math Bldg.</p>
<p>Date &amp; Time: Monday, December 14, 18:30-19:30 pm</p>
<p>Dress Code: Business Casual</p>
<img src="{$smarty.const.TOP}/img/social/Map_AstroMathBldg.png" class="img-responsive img-thumbnail center-block">
{/block}
