{extends file='others.tpl'}
{block name=title}Second LeCosPA Symposium - Social Events{/block}
{block name=main}
<div class="page-header">
	<h1>Social Events</h1>
</div>
<ul class="larger-font">
	<li><a href="social_welcome_reception.php"><time datetime="2015-12-14T18:30:00+08:00/19:30:00+08:00">December 14 18:30&ndash;19:30</time> Welcome Reception</a></li>
	<li><a href="social_opening_night_performance.php"><time datetime="2015-12-14T19:30:00+08:00/20:30:00+08:00">December 14 19:30&ndash;20:30</time> Opening Night Performance</a></li>
	<li><a href="social_excursion.php"><time datetime="2015-12-16T10:30:00+08:00/17:00:00+08:00">December 16 10:30&ndash;17:00</time> Excursion</a></li>
	<li><a href="social_symposium_banquet.php"><time datetime="2015-12-16T17:30:00+08:00/20:00:00+08:00">December 16 17:30&ndash;20:00</time> Symposium Banquet</a></li>
</ul>
{/block}
