{extends file='others.tpl'}
{block name=main}
<div class="page-header">
	<h1 id="opening-night-performance">Opening Night Performance</h1>
</div>
<p>A small concert will be held right after the Welcome Reception. We hope to bring some peaceful and joyful atmosphere to you after a long day brain exercise.</p>
<div class="row">
	<div class="col-sm-4">
		<img src="{$smarty.const.TOP}/img/social/AstroMathBldg1.png" class="img-responsive img-circle">
	</div>
	<div class="col-sm-4">
		<img src="{$smarty.const.TOP}/img/social/opening_night_performance_concert.png" class="img-responsive img-circle">
	</div>
	<div class="col-sm-4">
		<img src="{$smarty.const.TOP}/img/social/AstroMathBldg2.png" class="img-responsive img-circle">
	</div>
</div>
<br>
<p>Location: 1<sup>st</sup> floor Conference Room<sup><span class="glyphicon glyphicon-flash" aria-hidden="true"></span></sup> of the Astro-Math Bldg.</p>
<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Attentions: No food/drink in the conference room</div>
<p>Date &amp; Time: Monday, December 14, 19:30 -20:30 pm</p>
<p>Dress Code: Business Casual</p>
{/block}
