{extends file='others.tpl'}
{block name=main}
<ul class="menu">
	<li><a href="social_events.php">Back</a></li>
	<li><a href="social_welcome_reception.php">Welcome Reception</a></li>
	<li><a href="social_opening_night_performance.php">Opening Night Performance</a></li>
	<li class="active">Excursion</li>
	<li><a href="social_symposium_banquet.php">Symposium Banquet</a></li>
</ul>
<div class="page-header">
	<h1 id="excursion">Excursion</h1>
</div>
<p>Date: December 16, 2015</p>
<div class="row">
	<div class="col-sm-3">
		<p>Meal:</p>
	</div>
	<div class="col-sm-3">
		<p>Breakfast: X</p>
	</div>
	<div class="col-sm-3">
		<p>Lunch: bread meal</p>
	</div>
	<div class="col-sm-3">
		<p>Dinner: Formosa Pearl</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<img src="{$smarty.const.TOP}/img/social/taipei_expo_park.jpeg" class="img-responsive img-thumbnail center-block">
	</div>
	<div class="col-sm-4">
		<img src="{$smarty.const.TOP}/img/social/101.jpeg" class="img-responsive img-thumbnail center-block">
	</div>
	<div class="col-sm-4">
		<img src="{$smarty.const.TOP}/img/social/office_of_the_taiwan_president.jpeg" class="img-responsive img-thumbnail center-block">
	</div>
</div>
<br>
<div class="row">
	<div class="col-sm-3">
		<p>1000-1015</p>
		<p>1145-1130</p>
		<p>est. 50 minutes</p>
		<p><br></p>
		<p><br></p>
		<p>1230-1500</p>
		<p>est. 90 minutes</p>
		<p>1630-2000</p>
		<p>2130</p>
	</div>
	<div class="col-sm-9">
		<p>Meet up @1 floor entrance hall, New Physics Bldg.</p>
		<p><a href="social_cks_memorial_hall.php">Chiang Kai-Shek Memorial Hall</a></p>
		<p>Taipei City Tour:</p>
		<p>Office of the Present Republic of China (Taiwan) <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Grand Hotel <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Taipei Expo Park <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Shilin Official Residence</p>
		<p style="color:red">Lunch: bread meal</p>
		<p><a href="social_national_palace_museum.php">National Palace Museum</a></p>
		<p>Pass by: Taipei 101, Hsuehshan Tunnel</p>
		<p style="color:red">Banquet at Formosa Pearl</p>
		<p>See you tomorrow at Symposium</p>
	</div>
</div>
<img src="{$smarty.const.TOP}/img/social/lion_travel.png" class="img-responsive img-thumbnail" align="right">
{/block}
