{strip}
{* Sponsor 需要按造英文順序排序 *}
<h3 style="text-align: center;">Sponsors</h3>
<div class="sponsor">
	<img src="{$smarty.const.IMGTOP}symposium_2015/d34794f29607d6d684e7fdf6044c3341-apctp_logo_01-120.jpg" class="img-responsive">
</div>
<div class="sponsor">
	<img src="{$smarty.const.IMGTOP}symposium_2015/d157894493a3fdfa560b67c925666cf2-ASIAA_Logo-120.png" class="img-responsive">
</div>
<div class="sponsor">
	<img src="{$smarty.const.IMGTOP}symposium_2015/375fe3650e83d6abbd5355e6c8ae8734-國際貿易局_Logo-120.jpg" class="img-responsive">
</div>
<div class="sponsor">
	<img src="{$smarty.const.IMGTOP}symposium_2015/09825014bebb2d80bafb624b45650d1a-CCMS_NTU_Logo-120.png" class="img-responsive">
</div>
<div class="sponsor">
	<img src="{$smarty.const.IMGTOP}symposium_2015/22a48b408d1b6bd96186abad3f90be8d-CTS_Logo-120.png" class="img-responsive">
</div>
<div class="sponsor">
	<img src="{$smarty.const.IMGTOP}symposium_2015/6d1f8448a117984d6fd2479807d2bcb3-GSROC_Logo-120.png" class="img-responsive">
</div>
<div class="sponsor">
	<img src="{$smarty.const.IMGTOP}symposium_2015/11c79855c1d5da01c2193d338fe60879-phys_Logo-120.png" class="img-responsive">
</div>
<div class="sponsor" style="background-color: white;">
	<img src="{$smarty.const.IMGTOP}symposium_2015/7fef5498e163da70e91b7ba78c61b60d-科技部_Logo-120.png" class="img-responsive">
</div>
<div class="sponsor">
	<img src="{$smarty.const.IMGTOP}symposium_2015/dc48ba1954309bb45cd52386a9b804cc-NCTS_Logo-120.jpg" class="img-responsive">
</div>
<div class="sponsor">
	<img src="{$smarty.const.IMGTOP}symposium_2015/9bc3c89c1202698ab4a5170aa7610554-NTU_Logo-120.png" class="img-responsive">
</div>
<div class="sponsor">
	<img src="{$smarty.const.IMGTOP}symposium_2015/793ea77643fc79bf8a62b3cb5b3e044f-mofa.jpg" class="img-responsive">
</div>
<div class="sponsor">
	<img src="{$smarty.const.IMGTOP}symposium_2015/bccceaf0f186fb33cb7810e03f8ea11b-taipei_department_of_information_and_tourism-120.jpg" class="img-responsive">
</div>
{/strip}
