{extends file='others.tpl'}

{block name=title}Second LeCosPA Symposium - Title &amp; Abstract Submission{/block}

{block name=main}
<div class="page-header">
	<h1>Title & Abstract Submission</h1>
</div>
<form action="{$smarty.const.TOP}submission.php?token={$token}" method="POST" class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-2 control-label larger-font">Name</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" name="first_name" placeholder="Your First Name" required>
		</div>
		<div class="col-sm-3">
			<input type="text" class="form-control" name="last_name" placeholder="Your Last Name" required>
		</div>
	</div>
	<div class="form-group">
		<label for="input_session" class="col-sm-2 control-label larger-font">Choice of Sessions</label>
		<div class="col-sm-3">
			<select id="input_session" class="form-control" name="type" required>
				<option value=""></option>
				<option value="Plenary">Plenary Session Speaker</option>
				<option value="Parallel">Parallel Session Speaker</option>
				<option value="Poster">Poster</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="inputSessionCode" class="col-sm-2 control-label larger-font">Session Code</label>
		<div class="col-sm-3">
			<select id="inputSessionCode" name="session_code" class="form-control">
				<option value=""></option>
				<option value="MS">MS</option>
				<option value="OT">OT</option>
				<option value="OC">OC</option>
				<option value="CE">CE</option>
				<option value="CF">CF</option>
				<option value="DD">DD</option>
				<option value="BH">BH</option>
				<option value="HP">HP</option>
				<option value="AM">AM</option>
				<option value="EQ">EQ</option>
			</select>
		</div>
		<div class="col-sm-7"><p class="larger-font">(If you have chosen Parallel Session, please select your session code)</p></div>
	</div>
	<div class="form-group">
		<label for="input_email" class="col-sm-2 control-label larger-font">Email</label>
		<div class="col-sm-4">
			<input type="email" class="form-control" id="input_email" name="email" placeholder="Your Email" required>
		</div>
	</div>
	<div class="form-group">
		<label for="input_title" class="col-sm-2 control-label larger-font">Title</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="input_title" placeholder="Your speak title" name="title">
		</div>
	</div>
	<div class="form-group">
		<label for="input_abstract" class="col-sm-2 control-label larger-font">Abstract <small>(less than 300 words)</small></label>
		<div class="col-sm-10">
			<textarea id="input_abstract" class="form-control" rows="5" name="abstract"></textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</div>
</form>
{/block}
