{extends file='others.tpl'}

{block name=title}Second LeCosPA Symposium - Title &amp; Abstract Submission{/block}

{block name=main}
<div class="page-header">
	<h1>Title & Abstract Submission</h1>
</div>
<p>After your registration, we will send you a passcode to submit your title and abstract. If you haven't received passcode from our mail, please contact <a href="mailto:ntulecospa@ntu.edu.tw">ntulecospa@ntu.edu.tw</a></p>
<div class="alert alert-warning" role="alert">Attention: Your presentation flies/slides can be uploaded to the same space as where you put your talk title and abstract (here it is!) On the day of your presentation, we will ask whether you agree to make your slides to be in public (a signature needed). Only with your permission, we will open the access to public after the talk.</div>
<form action="{$smarty.const.TOP}/person/main.php" method="GET" class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-2 control-label">Passcode</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="inputToken" placeholder="The passcode you received from our mail" value="" name="token">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary">Login</button>
		</div>
	</div>
</form>
{/block}
