{extends file='others.tpl'}

{block name=title}Second LeCosPA Symposium - Title &amp; Abstract Submission{/block}

{block name=main}
<div class="page-header">
	<h1>Title & Abstract Submission</h1>
</div>
<p>Each of our plenary session is 30 minutes' talk with 5 minutes Q&amp;A. As to the parallel session’s talk, the length of the talk will be arranged by its session chair. Therefore you are welcome to put down your proposed talk length, and the session chair will contact you in the near future.</p>
<br>

<form action="{$smarty.const.TOP}/submission.php?token={$token}" method="POST" class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-2 control-label">Name</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" name="last_name" placeholder="Your Last Name" required>
		</div>
		<div class="col-sm-3">
			<input type="text" class="form-control" name="first_name" placeholder="Your First Name" required>
		</div>
	</div>
	<div class="form-group">
		<label for="input_email" class="col-sm-2 control-label">Email</label>
		<div class="col-sm-4">
			<input type="email" class="form-control" id="input_email" name="email" placeholder="Your Email" required>
		</div>
	</div>
	<div class="form-group">
		<label for="input_session" class="col-sm-2 control-label">Choice of Sessions</label>
		<div class="col-sm-10">
			<label class="radio-inline">
				<input type="radio" name="session" value="Plenary" onclick="hide(this,'sc');" required>Plenary Session
			</label>
			<label class="radio-inline">
				<input type="radio" name="session" value="Parallel" onclick="show(this,'sc');" required>Parallel Session
			</label>
			<label class="radio-inline">
				<input type="radio" name="session" value="Poster" onclick="hide(this,'sc');" required>Poster
			</label>
		</div>
	</div>
{* Show/Hide Session Code *}
{literal}
<script>
	function show(obj,item){
		document.getElementById(item).style.display = obj.checked?"block":"none";
	}
	function hide(obj,item){
		document.getElementById(item).style.display = obj.checked?"none":"block";
	}
</script>
{/literal}
	<div class="form-group" id="sc" style="display:none">
		<label for="inputSessionCode" class="col-sm-2 control-label">Session Code</label>
		<div class="col-sm-4">
			<select id="inputSessionCode" name="session_id" class="form-control">
				<option value="0"></option>
				{foreach $sessions as $session}
				<option value="{$session.id}">{$session.title|escape} ({$session.abbreviation})</option>
				{/foreach}
			</select>
		</div>
		<div class="col-sm-6"><p>(If you have chosen Parallel Session, please select your session code)</p></div>
	</div>
	<div class="form-group">
		<label for="input_title" class="col-sm-2 control-label">Title</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="input_title" placeholder="Your speak title" name="title">
		</div>
	</div>
	<div class="form-group">
		<label for="input_abstract" class="col-sm-2 control-label">Abstract <small>(less than 300 words)</small></label>
		<div class="col-sm-10">
			<textarea id="input_abstract" class="form-control" rows="10" name="abstract"></textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</div>
</form>
{/block}
