{extends file='others.tpl'}

{block name=main}
<div class="page-header">
	<h1>The Conference Topics</h1>
</div>
<div>
<ul>
	<li>Overview: 100 Years of General Relativity</li>
	<li>Mathematical Structure &amp; Observational/Experimental Tests of GR
		<ul><li>What is GR’s range of validity?</li></ul>
	</li>
	<li>Cosmology
		<ul>
			<li>How did universe begin?</li>
			<li>Can the structure of quantum gravity shed lights on standard model?</li>
		</ul>
	</li>
	<li>Fundamental Nature of Gravity
		<ul>
			<li>How to reconcile GR and QM?</li>
			<li>What is the solution to information lost paradox?</li>
			<li>Would theory of quantum gravity be unique?</li>
			<li>How universal is holographic principle?</li>
		</ul>
	</li>
	<li>New Ideas
		<ul>
			<li>What are the possible applications of holographic principle?</li>
			<li>Modified theories of gravity</li>
			<li>Is gravity fundamental or emergent?</li>
		</ul>
	</li>
</ul>
</div>
{/block}
