{extends file='others.tpl'}
{block name=main}
<div class="page-header">
	<h1>Transportations</h1>
</div>
<p>Several ways get to National Taiwan University from airports are shown as below. However, the venue of our symposium is on the northwest side of campus. A ten-minutes walking distance is needed from the NTU main gate.</p>

<img src="{$smarty.const.IMGTOP}symposium_2015/6be829404a52ffe03c615fd7f51fb31d-transportation-map.jpg" class="img-responsive img-rounded">

<p>There are two airports in Northern Taiwan:&nbsp;
Taiwan Taoyuan International Airport (TPE) and Taipei Songshan Airport (TSA).&nbsp;
Most attendees arrive in Taiwan at TPE. Attendees from TPE can reach the symposium venue by taking taxi, high-speed rails or bus.</p>
<p>TSA was a domestic airport but now it has flights between Mainland China and Japan.&nbsp;
Therefore if you are from Mainland China or Japan, we recommend you to pick TSA.&nbsp;
It takes 1/2 time to reach our symposium venue compared to TPE.</p>

<img src="{$smarty.const.IMGTOP}symposium_2015/7da1a8dfff53da881586b42e97d569a9-map.jpg" class="img-responsive img-rounded">


<h1 id="taiwan-taoyuan-international-airport">Taiwan Taoyuan International Airport</h1>

<div class="panel panel-default">
	<div class="panel-heading">Kuo-kuang (國光號) motor transport, Line1819 (NTD 165, 75 mins estimated)</div>
	<div class="panel-body table-responsive">
		<p>Taoyuan International Airport <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Taipei Main Station <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Take MRT line 2 (toward Xiangshan station) to Chiang Kai-Shek memorial hall station <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Transfer to MRT line 3 (toward Xindian station) to Gongguan Station, Exit 3, National Taiwan University</p>
	</div>
	<table class="table table-bordered">
		<tbody>
			<tr><th>Route</th><th></th><th>Fare</th><th>Time</th><th>Memo</th></tr>
			<tr>
				<td style="text-align: center;">
					Taoyuan International Airport<br />
					<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span><br />
					Taipei Main Station
				</td>
				<td>
					<img src="img/bus1819.png" class="img-responsive" style="max-width: 200px;">
					Line 1819<br/>
					Intervals 15-20mins<br/>
					T2 bus pickup zone at the northeast arcade of the 1st floor Arrivals lobby
				</td>
				<td>NTD 125</td><td>55 mins estimated</td><td>Bus hour: 24<br />In the night time: <img src="img/bustime.png" class="img-responsive"></td>
			</tr>
			<tr>
				<td style="text-align: center;">
					MRT Line 2 Chiang Kai-Shek memorial hall station<br/>
					<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span><br />
					MRT Line 3 Gongguan station, Exit 3
				</td>
				<td><img src="img/mrt.png" class="img-responsive" style="max-width: 200px;"></td><td>NTD 40</td><td>20 mins estimated</td><td></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="panel panel-default">
	<div class="panel-heading">High Speed Rails (NTD 245, 65 mins estimated)</div>
	<div class="panel-body table-responsive">
		<p>Taoyuan International Airport <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Taoyuan High Speed Rail (HSR) <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Taipei Main Station <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Take MRT line 2 to Chiang Kai-Shek memorial hall station <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Transfer to MRT line 3 to Gongguan Station, Exit 3, National Taiwan University</p>
	</div>
	<table class="table table-bordered">
		<tbody>
			<tr><th>Route</th><th></th><th>Fare</th><th>Time</th><th>Memo</th></tr>
			<tr>
				<td style="text-align: center;">
					Taoyuan International Airport<br/>
					<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span><br />
					Taoyuan HSR
				</td>
				<td>
					Ubus 705<br />
					<img src="img/ubus705.png" class="img-responsive" style="width: 200px;">
					<p>5-10mins intervals during peak time</p>
					<p>UBUS service counters at Arrivals Lobby of Terminal 1 and 2</p>
				</td>
				<td>NTD 30</td><td>25 mins estimated</td>
				<td>
					<dl>
						<dt>Toll-free hotline</dt><dd>0800-241560 (Business hours: 24HR)</dd>
						<dt>Terminal 1 counter</dt><dd>+886-3-3834779 (Business hours: 06:00 - 24:00)</dd>
						<dt>Terminal 2 counter</dt><dd>+886-3-3833552 (Business hours: 06:00 - 24:00)</dd>
					</dl>
				</td>
			</tr>
			<tr>
				<td style="text-align: center;">
					Taoyuan HSR<br/>
					<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span><br />
					Taipei Railways Station (Taipei Main Station)
				</td>
				<td>
					<img src="img/thsrc.png" class="img-responsive" style="width: 200px;">
				</td>
				<td>NTD 175</td>
				<td>20 mins estimated</td>
				<td>
					<a href="http://www.thsrc.com.tw/index.html">HSR official site: http://www.thsrc.com.tw/index.html</a>
				</td>
			</tr>
			<tr>
				<td style="text-align: center;">
					MRT Line 2 Chiang Kai-Shek memorial hall station<br/>
					<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span><br />
					MRT Line 3 Gongguan station, Exit 3
				</td>
				<td>
					<img src="img/mrt.png" class="img-responsive" style="width: 200px;">
				</td>
				<td>NTD 40</td>
				<td>20 mins estimated</td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="panel panel-default">
	<div class="panel-heading">Taxi (Daytime: NTD 1200, Nighttime 22:00 ~ 06:00: NTD 1220, 50 mins estimated)</div>
	<div class="panel-body table-responsive">
		<p>Taoyuan International Airport <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> NTU (National Taiwan University)</p>
	</div>
	<table class="table table-bordered">
		<tbody>
			<tr><th>Route</th><th></th><th>Fare</th><th>Time</th><th>Memo</th></tr>
			<tr>
				<td style="text-align: center;">
					Taoyuan International Airport<br/>
					<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span><br />
					NTU (No.1, Sec.4, Roosevelt Road, Taipei)
				</td>
				<td>
					<img src="img/taxi.png" class="img-responsive" style="width: 200px;">
					<p>At the west side of Terminal 1's and 2's Arrivals Lobby</p>
					<p>24hr / per day</p>
				</td>
				<td>NTD 1200</td><td>50 mins estimated</td>
				<td>
					Service number: <br />T1 taxi service center: +886-3-3982832<br/>T2 taxi service center: +886-3-3983599
				</td>
			</tr>
		</tbody>
	</table>
	<div class="panel-footer">
		If you take a taxi, you can show the following Chinese characters to the taxi driver:<br>
		<strong>請帶我到國立台灣大學校本部，台北市羅斯福路四段1號</strong><br>(Please take me to National Taiwan University, No. 1, Sec.4, Roosevelt Rd. Taipei City)
	</div>
</div>

{* 台北松山機場 *}
<h1 id="taipei-songshan-airport">Taipei SongShan Airport</h1>

<div class="panel panel-default">
	<div class="panel-heading">Bus (NTD 15, 50 mins estimated)</div>
	<div class="panel-body table-responsive">
		<p>Taipei SongShan Airport <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Bus 254 <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> MRT Gongguan Station <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Main Gate of NTU</p>
	</div>
	<table class="table table-bordered">
		<tbody>
			<tr><th>Route</th><th></th><th>Fare</th><th>Time</th></tr>
			<tr>
				<td style="text-align: center;">Taipei SongShan Airport<br/>
					<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span><br />NTU (No.1, Sec.4, Roosevelt Road, Taipei)</td>
				<td>
					<img src="img/bus254.png" class="img-responsive" style="width: 200px;">
					City bus 254<br />
					Every 7 mins<br />
				</td>
				<td>NTD 15</td><td>50 mins estimated</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="panel panel-default">
	<div class="panel-heading">MRT (NTD 45, 33 mins estimated)</div>
	<div class="panel-body table-responsive">
		<p>Taipei SongShan Airport <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> MRT line 1 (toward Taipei zoo station) to Nanjing Fuxing Station <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Transfer to MRT line 3 (toward to Xindian station) to Gongguan station, Exit3</p>
	</div>
	<table class="table table-bordered">
		<tbody>
			<tr><th>Route</th><th></th><th>Fare</th><th>Time</th></tr>
			<tr>
				<td style="text-align: center;">Taipei SongShan Airport<br/>
					<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span><br />MRT line 1 (toward Taipei zoo station)</td>
				<td>
					<img src="img/mrt_line1.png" class="img-responsive" style="width: 200px;">
					MRT is outside the Terminal 1<br/>
					Toward Taipei zoo station<br/>
					Transfer at Nanjing Fuxing station
				</td>
				<td>NTD 20</td>
				<td>7 mins estimated</td>
			</tr>
			<tr>
				<td style="text-align: center;">MRT line1 Nanjing Fuxing Station<br/>
					<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span><br />MRT line 3 Gongguan station (toward Xindian station)</td>
				<td>
					<img src="img/mrt_line3.png" class="img-responsive" style="width: 200px;">
					Toward Xindian station<br/>
					MRT Gingguan station, Exit3
				</td>
				<td>NTD 25</td>
				<td>22 mins estimated</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="panel panel-default">
	<div class="panel-heading">Taxi (Daytime: NTD 250, Nighttime 22:00 ~ 06:00: NTD 270, 20 mins estimated)</div>
	<div class="panel-body table-responsive">
		<p>Taipei SongShan Airport <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> National Taiwan University</p>
	</div>
	<table class="table table-bordered">
		<tbody>
			<tr><th>Route</th><th></th><th>Fare</th><th>Time</th><th>Memo</th></tr>
			<tr>
				<td style="text-align: center;">Taipei SongShan Airport<br/>
					<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span><br />LeCosPa (No.1, Sec.4, Roosevelt Road, Taipei)</td>
				<td>
					<img src="img/taxi.png" class="img-responsive" style="width: 200px;">
					<p>Is located outside the Arrivals Lobby</p>
				</td>
				<td>NTD 250</td><td>20 mins estimated</td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<div class="panel-footer">Taxi fare caculator <a href="http://taxi.0123456789.tw/">http://taxi.0123456789.tw/</a></div>
</div>
{/block}
