{extends file='others.tpl'}
{block name=main}
<div class="bs-header" id="content" style="background-image: none; background-color:rgb(191,84,46);">
    <div class="container">
		<h1>Visiting Taiwan</h1>
    </div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>Transportation</h1>
			</div>
			<h2>Taiwan Taoyuan International Airport</h2>
			<div class="panel panel-default">
				<div class="panel-heading">Kuo-kuang motor transport, Line1819 (NTD 165, 75mins estimated)</div>
				<div class="panel-body">Taoyuan International Airport &rarr; Taipei Main Station &rarr; Take MRT line 2(toward Xiangshan station) to Chiang Kai-Shek memorial hall station &rarr; Transfer to MRT line 3(toward Xindian station) to Gongguan Station, Exit 3</div>
			</div>
		</div>
	</div>
</div>
<div id="footer" class="footer" role="contentinfo">
    <div class="container">
    </div>
</div>
{/block}
