<br />
<p>As a foreign passport holder who plans to have a short visit in Taiwan, visa of Taiwan grants visa-free and visa-on-arrival travel for citizens of 45 countries and an online travel authority is valid for citizens of 7 counties/territories. You can find the detailed information via <a href="http://www.boca.gov.tw/mp?mp=2">Bureau of Consular Affairs, Ministry of Foreign Affairs</a></p>

<h2>Visa Exempt Entry (Visa Free)</h2>
Passport holders of the following 45 countries do not require a visa to visit Taiwan for less than 90 days 

<ul>
  <li>All EU citizens</li>
  <li>Andorra</li>
  <li>Australia</li>
  <li>Canada</li>
  <li>Iceland</li>
  <li>Israel</li>
  <li>Japan</li>
  <li>Liechtenstein</li>
  <li>Malaysia (30 days)</li>
  <li>Monaco</li>
  <li>New Zealand</li>
  <li>Norway</li>
  <li>San Marino</li>
  <li>Singapore (30 days)</li>
  <li>Switzerland</li>
  <li>South Korea</li>
  <li>United States</li>
  <li>Vatican City</li>
</ul>

<p>Holders of diplomatic or official/service passports of Belize, Burkina Faso, Dominican Republic, El Salvador, Guatemala, Honduras, Nauru, Nicaragua, Panama, Paraguay, Sao Tome and Principe, Saint Kitts and Nevis, Saint Lucia, Saint Vincent and the Grenadines and Swaziland do not require a visa for up to 90 days.</p>

<h2>Landing Visa (Visa-on-Arrival and Online travel authority)</h2>
<ul>
  <li>Citizens of Brunei may be granted visa upon arrival for less than 14 days.</li>
  <li>Citizens of Macedonia may be granted visa upon arrival for less than 30 days.</li>
  <li>Citizens of Turkey may be granted visa upon arrival for less than 30 days.</li>
  <li>Qualified citizens of India, Indonesia, Philippines, Thailand and Vietnam may apply an online travel authority to visit Taiwan for less than 30 days.
  <br>
  Eligibility: If the citizen holds permanent residency or valid visa of Australia, Canada, Japan, New Zealand, Schengen Convention countries, United Kingdom or United States.</li>
  <li>Qualified citizens of China with permanent residency of Hong Kong and Macau may be granted Exit &amp; Entry Permit upon arrival or may apply an online travel authority to visit Taiwan for less than 30 days.<br>
  Eligibility: Hong Kong born permanent residents and travel with HKSAR passport or BN(O) passport; Macau born permanent residents and travel with MSAR passport or Portuguese passport issued in Macau.</li>
</ul>
<p>More information for Visa Exempt Entry or Landing visa please visit: <a href="http://www.boca.gov.tw/lp.asp?ctNode=779&CtUnit=79&BaseDSD=7&mp=2">http://www.boca.gov.tw/lp.asp?ctNode=779&CtUnit=79&BaseDSD=7&mp=2</a></p>
<p>Content reference: <a href="http://en.wikipedia.org/wiki/Visa_policy_of_Taiwan">http://en.wikipedia.org/wiki/Visa_policy_of_Taiwan</a></p>