{extends file='others.tpl'}
{block name=main}
<div class="bs-header" id="content" style="background-image: none; background-color:rgb(191,84,46);">
    <div class="container">
		<h1>Visiting Taiwan</h1>
    </div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			{include file='visiting-transportation.html'}
			<div class="page-header">
				<h1 id="weather">Weather</h1>
			</div>
			<h2>December Average Temperature</h2>
			<h2>December Average Precipitation</h2>
			<h2>Weather and clothing</h2>
			<a href="http://www.chinahighlights.com/taiwan/weather/december.htm">http://www.chinahighlights.com/taiwan/weather/december.htm</a>
			<p><strong>Weather</strong>: Winter starts from December, but weather is generally mild, with average low and high temperatures of 13 °C (55 °F) and 18 °C (64 °F) for Taipei, and damp with occasional showers. (You may need an umbrella)</p>
			<p><strong>Clothing</strong>: There is a big difference in temperature between day and night. During day time a long-sleeve shirt is adequate, but in early morning and evening a coat is needed, sometimes also a sweater. If you visit mountainous areas, a sweater and a water-proof coat is recommended.</p>

			{include file='visiting-visa.html'}
			{include file='visiting-souvenir.html'}

			<div class="page-header">
				<h1 id="accommodation">Accommodation</h1>
				<p><a href="{$smarty.const.TOP}accommodation.php">Also see here</a></p>
				<ul>
					<li>Howard International House - <a href="http://intl-house.howard-hotels.com/">http://intl-house.howard-hotels.com/</a></li>
					<li>Just sleep - <a href="http://www.justsleep.com.tw/NTU/zh/index">http://www.justsleep.com.tw/NTU/zh/index</a></li>
					<li>Lu-Ming Guest House - <a href="http://fss.blog.ntu.edu.tw/accommodation/lu-ming-guest-house/">http://fss.blog.ntu.edu.tw/accommodation/lu-ming-guest-house/</a></li> 
				</ul>
			</div>

			<div class="page-header">
				<h1 id="electricity">Electricity</h1>
			</div>
			<p>Same as the US (110Volts, 60Hz). Sockets are also the same.</p>

			<div class="page-header">
				<h1 id="map">Maps</h1>
				<p><a href="{$smarty.const.TOP}map.php">Also see here</a></p>
				<p>Taipei Tourist Map: <a href="http://www.travel.taipei/frontsite/en/cms/cmsAction.do?method=goCMSDetail&listOne=true&contentId=294&menuId=1030102">http://www.travel.taipei/frontsite/en/cms/cmsAction.do?method=goCMSDetail&amp;listOne=true&amp;contentId=294&amp;menuId=1030102</a></p>
			</div>

			<div class="page-header">
				<h1 id="related-websites">Related Websites</h1>
				<ul>
					<li>Bureau of Consular Affairs, Ministry of Foreign Affairs, Republic of China (Taiwan): <a href="http://www.boca.gov.tw/mp?mp=2">http://www.boca.gov.tw/mp?mp=2</a></li>
					<li>Information for Foreigners: <a href="http://iff.immigration.gov.tw/mp.asp?mp=iff_en">http://iff.immigration.gov.tw/mp.asp?mp=iff_en</a></li>
					<li>Taipei City Government: <a href="http://english.gov.taipei/">http://english.gov.taipei/</a></li>
					<li>NTU Visitor Center: <a href="http://visitorcenter.cloud.ntu.edu.tw/eng/index.php">http://visitorcenter.cloud.ntu.edu.tw/eng/index.php</a></li>
					<li>NTU Campus Location &amp; Area: <a href="http://www.ntu.edu.tw/english/about/location.html">http://www.ntu.edu.tw/english/about/location.html</a></li>
					<li>Campus Maps: <a href="http://www.ntu.edu.tw/english/about/map.html">http://www.ntu.edu.tw/english/about/map.html</a></li>
				</ul>
			</div>
		</div>
		{* sidenav 類似目錄 *}
		<div class="col-md-3">
			<div class="bs-sidebar hidden-print hidden-xs hidden-sm" role="complementary">
				<ul class="nav bs-sidenav">
					<li><a href="#transportation">Transportation</a>
						<ul class="nav">
							<li><a href="#taiwan-taoyuan-international-airport">Taiwan Taoyuan International Airport</a></li>
							<li><a href="#taipei-songshan-airport">Taipei SongShan Airport</a></li>
						</ul>
					</li>
					<li><a href="#weather">Weather</a></li>
					<li><a href="#visa-and-exchange-rates">VISA and Exchange rates</a></li>
					<li><a href="#souvenir">Souvenir</a>
						<ul class="nav">
							<li><a href="#pineapple-cake">Pineapple cake - Chia Te</a></li>
							<li><a href="#honey-cake">Honey Cake- E.G.Sain</a></li>
							<li><a href="#stick-cake">Ink. Stick Cake- Vigor kobo</a></li>
						</ul>
					</li>
					<li><a href="#accommodation">Accommodation</a></li>
					<li><a href="#electricity">Electricity</a></li>
					<li><a href="#maps">Maps</a></li>
					<li><a href="#related-websites">Related Websites</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="footer" class="footer" role="contentinfo">
    <div class="container">
    </div>
</div>
{/block}
