{extends file='others.tpl'}
{block name=main}
<div class="bs-header" id="content" style="background-image: none; background-color:rgb(191,84,46);">
    <div class="container">
		<h1>Visiting Taiwan</h1>
    </div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>Transportation</h1>
			</div>
			<h2>Taiwan Taoyuan International Airport</h2>
			<div class="panel panel-default">
				<div class="panel-heading">Kuo-kuang motor transport, Line1819 (NTD 165, 75mins estimated)</div>
				<div class="panel-body">Taoyuan International Airport &rarr; Taipei Main Station &rarr; Take MRT line 2(toward Xiangshan station) to Chiang Kai-Shek memorial hall station &rarr; Transfer to MRT line 3(toward Xindian station) to Gongguan Station, Exit 3</div>
				<table class="table">
					<tbody>
						<tr><th>Route</th><th></th><th>Fare</th><th>Time</th><th>Memo</th></tr>
						<tr>
							<td>Taoyuan International Airport to Taipei Main Station</td>
							<td><img src="img/bus.png"><ul>
								<li>Line 1819</li>
								<li>Intervals 15-20mins</li>
								<li>T2 bus pickup zone at the northeast arcade of the 1st floor Arrivals lobby</li>
							</ul></td>
							<td>NTD 125</td><td>55 mins estimated</td><td>Bus hour: 24<br />In the night time: <img src="img/bustime.png" class="img-responsive"></td>
						</tr>
						<tr>
							<td>
								MRT Line 2 Chuang Kai-Shek memorial hall station to  MRT Line 3 Gongguan station, Exit 3
							</td>
							<td><img src="img/mrt.png"></td><td>NTD 40</td><td>20 mins estimated</td><td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div id="footer" class="footer" role="contentinfo">
    <div class="container">
    </div>
</div>
{/block}
