<div class="page-header">
	<h1 id="visa-and-exchange-rates">VISA and Exchange rates</h1>
</div>

<h2 id="visa">VISA</h2>
<h3>Documents are required when applying for a visa to enter Republic of China (Taiwan)</h3>
<ol>
	<li>A passport with validity for at least six month.<p class="text-danger">The passport must not be noted “Prohibited from entering the Republic of China”</p></li>
	<li>A Properly completed visa application form</li>
	<li>Two photographs
		<ul>
			<li>The photographs must be 2” × 2” in size</li>
			<li>The photographs must be taken within the last six months</li>
			<li>The photographs must be in color, and must be taken against an off-white background</li>
		</ul>
	</li>
	<li>Other supporting documents according to the applicants' visa purpose.</li>
</ol>

<h3>Process of Applying Visa</h3>
Bureau of foreign consular affairs, ministry of foreign affair, Republic of China (Taiwan) website <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> visa <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> detailed information on R.O.C. visitor visa-> visitor visa for attending conference/exhibition

<table class="table table-bordered">
	<caption>Visitor visa for attending conference/exhibition</caption>
	<tbody>
		<tr>
			<th>Requirements</th><th>Description</th>
		</tr>
		<tr>
			<td>1. Completed &amp; signed application form</td>
			<td>Please access the website: <a href="https://visawebapp.boca.gov.tw/">https://visawebapp.boca.gov.tw/</a> to fill out application form online and print it out.</td>
		</tr>
		<tr>
			<td>2. Two passport-size photos in color, within 6 months</td>
			<td>Photos with a white color background</td>
		</tr>
		<tr>
			<td>3. Passport (original &amp; copy)</td>
			<td>Valid for 6 months with blank pages</td>
		</tr>
		<tr>
			<td>4. Evidence of documents</td>
			<td>Invitation letter or proof of exhibition &amp; applicant's ID</td>
		</tr>
		<tr>
			<td>5. Other additional documents may be required during processing</td>
			<td>Ticket, electronic ticket or proof of a travel agency</td>
		</tr>
		<tr>
			<td colspan="2">
				Procedures:
				<ol>
<li>Applicants can lodge their application with necessary documents and statutory fee at our overseas missions.</li>
<li>Interview my be required when necessary</li>
				</ol>
			</td>
		</tr>
	</tbody>
</table>

<h3>Visa-Exempt Entry and Landing Visas</h3>

<h4>Visa-Exempt Entry</h4>
<dl>
	<dt>Countries eligible for Visa-exempt entry</dt>
	<dd>The nationals of the following countries are eligible for the visa exemption program, which permits a duration of stay up to 90 days: Andorra, Australia (Effective from January 1, 2015 for one year) , Austria, Belgium, Bulgaria,  Canada, Croatia, Cyprus, Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Iceland, Ireland, Israel, Italy, Japan, Republic of Korea, Latvia, Liechtenstein, Lithuania, Luxembourg, Malta, Monaco, the Netherlands, New Zealand, Norway, Poland, Portugal, Romania, San Marino, Slovakia, Slovenia, Spain, Sweden, Switzerland, U.K., U.S.A. and Vatican City State.<br/>
	The nationals of the following countries are eligible for the visa exemption program, which permits a duration of stay up to 30 days: Malaysia, Singapore.
	</dd>
</dl>
<h4>Landing Visas</h4>
<dl>
	<dt>Countries eligible for Landing Visas</dt>
	<dd>
		<ol>
			<li>Holders of Bruneian passport with validity of more than six months.</li>
			<li>Holders of Turkish passport with validity of more than six months.</li>
			<li>Holders of Macedonian passport with validity of more than six months.</li>
			<li>Holders of emergency or temporary passports with validity of more than six months for nationals of those countries (except for US) eligible for visa-exempt entry.</li>
		</ol>
	</dd>
</dl>

<h3>Further information</h3>
<p>please check: <a href="http://www.boca.gov.tw/np.asp?ctNode=776&mp">http://www.boca.gov.tw/np.asp?ctNode=776&mp</a></p>