<div class="page-header">
	<h1 id="souvenir">Souvenir</h1>
</div>
<h2 id="pineapple-cake">Pineapple cake - Chia Te</h2>
<p>Founded in 1975, Chia Te Bakery has never wavered from its commitment to freshness and natural goodness (no preservatives!). Its handmade pineapple cakes are known for their traditional flavor and flaky pastry shells. In 2007, the bakery won an award for its innovative cranberry pineapple cake, which is an especial favorite with female customers. With their tart sweetness and golden flaky shells, this is one treat that is sure to win you over. In addition to pineapple cakes, Chia Te is also known for its "wife cakes," milk cakes and other tasty treats that have earned a loyal customer following.</p>
<div class="row">
	<div class="col-md-6">
		<img src="img/chia-te-1.png" class="img-responsive img-rounded center-block">
	</div>
	<div class="col-md-6">
		<img src="img/chia-te-2.png" class="img-responsive img-rounded center-block">
	</div>
</div>
<p>Source: <a href="http://www.travel.taipei/">http://www.travel.taipei/</a> (Department of Information and Tourism, Taipei City Government)</p>

<h2 id="honey-cake">Honey Cake- E.G.Sain</h2>
<div class="row">
	<div class="col-md-6">
		<img src="img/egsain.png" class="img-responsive img-rounded center-block">
	</div>
	<div class="col-md-6">
		<p>Founded in 1975, E-G-Sain's signature sweet joins Japanese-style Nagasaki cake and Taiwanese longan honey. High quality standards and the distinctive goodness of natural honey have made these delicious cakes one of Taiwan's most unique treats.</p>
		<p>E-G-Sain originally baked all of its cakes behind its first retail store on Zhongshan North Road. Today, the bakery has 17 directly operated branches and over 30 contracted outlets across Taiwan. It also exports honey cakes to the United States, Canada, Hong Kong, Southeast Asia and other countries</p>
	</div>
</div>
<p>Source: <a href="http://www.travel.taipei/">http://www.travel.taipei/</a> (Department of Information and Tourism, Taipei City Government)</p>

<h2 id="stick-cake">Ink. Stick Cake- Vigor kobo</h2>
<div class="row">
	<div class="col-md-6">
		<p>Located by the Taipei Confucius Temple in the Dalongdong Cultural Park, Vigor Kobo has long been dedicated to making fine traditional Chinese cakes with an innovative flair courtesy of the company's baking R&amp;D team. Reflecting the bakery's location next to the literary Confucius Temple, Vigor Kobo sells a distinctive line of "ink stick cakes." Made with a dash of bamboo charcoal powder, they quickly became a hit after their debut in 2006.</p>
		<p>Apart from the black pastry shell, the ink stick cakes retain all of the sweet flavor and texture of traditional pineapple cakes. The charcoal powder makes a healthy addition due to its fat-fighting qualities. The bakery has also reduced the sugar and fat content of the cakes to make these some of Taipei's healthiest, tastiest and most visually innovative cakes.</p>	
	</div>
	<div class="col-md-6">
		<img src="img/stick-cake.png" class="img-responsive img-rounded center-block">
	</div>
</div>
