{extends file='others.tpl'}
{block name=main}
<ul class="menu">
	<li><a href="{$smarty.const.TOP}/social_events.php">Social Events</a></li>
	<li><a href="{$smarty.const.TOP}/social_events/welcome_reception.php">Welcome Reception</a></li>
	<li><a href="{$smarty.const.TOP}/social_events/opening_night_concert.php">Opening Night Concert</a></li>
	<li class="active">Excursion</li>
	<li><a href="{$smarty.const.TOP}/social_events/symposium_banquet.php">Symposium Banquet</a></li>
</ul>
<div class="page-header">
	<h1 id="excursion">Excursion</h1>
</div>
<p>Date: December 16, 2015</p>
<p>Dress code : Casual ( You may want to bring a light backpack/small bags to have some personal items with you, a jacket and a hat/folded umbrella is good to be with you, too. )</p>
<div class="row">
	<div class="col-sm-4">
		<img src="{$smarty.const.TOP}/img/social/taipei_expo_park.jpeg" class="img-responsive img-thumbnail center-block">
	</div>
	<div class="col-sm-4">
		<img src="{$smarty.const.TOP}/img/social/101.jpeg" class="img-responsive img-thumbnail center-block">
	</div>
	<div class="col-sm-4">
		<img src="{$smarty.const.TOP}/img/social/office_of_the_taiwan_president.jpeg" class="img-responsive img-thumbnail center-block">
	</div>
</div>
<br>
<dl class="dl-horizontal">
		<dt>0935</dt>
		<dd>Meet up @1 floor entrance hall, New Physics Bldg.</dd>
		<dt>0940</dt>
		<dd>Let's go!</dd>
		<dt>est. 50 minutes</dt>
		<dd>Taipei City Tour:</dd>
		<dd><a href="cks_memorial_hall.php">Chiang Kai-Shek Memorial Hall</a></dd>
		<dd>Office of the Present Republic of China (Taiwan) <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Grand Hotel <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Taipei Expo Park <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Shilin Official Residence</dd>
		<dt>1030-1200</dt>
		<dd><a href="national_palace_museum.php">National Palace Museum</a></dd>
		<dt>est. 90 minutes</dt>
		<dd>Pass by: Hsuehshan Tunnel</dd>
		<dd style="color:red">Lunch: bread meal</dd>
		<dt>1330-1530</dt>
		<dd><a href="national_center_for_traditional_arts.php">National Center for Traditional Arts</a></dd>
		<dt>1630-2000</dt>
		<dd><a href="symposium_banquet.php">Banquet at Formosa Pearl</a></dd>
		<dt>2100</dt>
		<dd>Pass by: Taipei 101, See you tomorrow at Symposium</dd>
</dl>
<img src="{$smarty.const.TOP}/img/social/lion_travel.png" class="img-responsive img-thumbnail pull-right">
{/block}
