{extends file='others.tpl'}
{block name=main}
<ul class="menu">
	<li><a href="{$smarty.const.TOP}/social_events.php">Social Events</a></li>
	<li><a href="{$smarty.const.TOP}/social_events/welcome_reception.php">Welcome Reception</a></li>
	<li><a href="{$smarty.const.TOP}/social_events/opening_night_concert.php">Opening Night Concert</a></li>
	<li><a href="{$smarty.const.TOP}/social_events/excursion.php">Excursion</a></li>
	<li><a href="{$smarty.const.TOP}/social_events/symposium_banquet.php">Symposium Banquet</a></li>
</ul>
<div class="page-header">
	<h1>Excursion</h1>
	<h2 id="national-center-for-traditional-arts">National Center for Traditional Arts</h2>
</div>
<div class="row">
	<div class="col-sm-8">
		<p><strong>National Center for Traditional Arts</strong> is designed with the goal of preserving Taiwan traditional arts while helping its renewal and innovation. The exterior of National Center for Traditional Arts is in red-tile with modern elements. All buildings and the streets display Taiwan life in earlier time.</p>
		<p>National Center for Traditional Arts is a 24-hectare complex park that includes Definitely Taiwanese, Traditional Theater, Outdoor Theater, Modern Theater, Wen-Chang Temple, Exhibition Center, Traditional Handicraft Artists’ Studio, Traditional Music Hall, library and accommodation area, etc. It helps Taiwan public get close to traditional arts and has the opportunity to participate DIY.</p>
		<p>You will arrive here around the early afternoon. It’s just the right time to taste some Taiwanese traditional snacks/food and take a walk and watch traditional Taiwanese performance on the main street. In the meanwhile, hope you can find some interesting traditional handicraft as one of the souvenirs in this trip!</p>
		<p>PS. Taiwanese foods are so delicious that you should try as many as you can!</p>
	</div>
	<div class="col-sm-4">
		<img src="{$smarty.const.IMGTOP}symposium_2015/3a4281668158f9ac3a62de8881f92433-10226392922_B-480.jpg" class="img-responsive img-thumbnail">
		<img src="{$smarty.const.IMGTOP}symposium_2015/f055056b355be96c00092e6e94dbb040-12188390376_11ee46b9a8_b-480.jpg" class="img-responsive img-thumbnail">
	</div>
</div>
<p>Website: <a href="http://www.ncfta.gov.tw/ncfta_eh/main/index.aspx">http://www.ncfta.gov.tw/ncfta_eh/main/index.aspx</a></p>
{/block}
