{extends file='others.tpl'}
{block name=main}
<ul class="menu">
	<li><a href="{$smarty.const.TOP}/social_events.php">Social Events</a></li>
	<li><a href="{$smarty.const.TOP}/social_events/welcome_reception.php">Welcome Reception</a></li>
	<li><a href="{$smarty.const.TOP}/social_events/opening_night_concert.php">Opening Night Concert</a></li>
	<li><a href="{$smarty.const.TOP}/social_events/excursion.php">Excursion</a></li>
	<li><a href="{$smarty.const.TOP}/social_events/symposium_banquet.php">Symposium Banquet</a></li>
</ul>
<div class="page-header">
	<h1>Excursion</h1>
	<h2 id="national-palace-museum">National Palace Museum</h2>
</div>
<p>The  National  Palace  Museum  is  the  world's  largest collection of priceless artifacts, objects which span China’s 5000  yearlong  history,  which  has  made  themselves  the greatest  and  invaluable  treasure  house  regarding  Chinese art  on  earth.  Many  of  the  artifacts  were  once  a  part  of  the Chinese  Imperial  Collection,  which  was  begun  over  1000 years ago in the early Sung Dynasty. The items amounts to nearly  700,000  pieces  ranging  from delicately  carved  jade ornaments pottery, porcelain, as well as bronze, sculpture, embroidery, calligraphy and paintings, each piece is a true curio.There  is  also  the  lovely  Zhishan  Farden  just  right ahead.  It  was  planned  and  construct  based  on  one  well-known painting in Chinese history in order to show the best part of elegant beauty.</p>

<p>Official website: <a href="http://www.npm.gov.tw/">http://www.npm.gov.tw/</a></p>
<div class="row">
	<div class="col-sm-4"><img src="{$smarty.const.IMGTOP}symposium_2015/9b9d35ff54e61bb607f1f1be620619b8-1-480.jpg" class="img-responsive img-thumbnail"></div>
	<div class="col-sm-4"><img src="{$smarty.const.IMGTOP}symposium_2015/9d612599514e924368d46115e3a262c8-03b-b-480.jpg" class="img-responsive img-thumbnail"></div>
	<div class="col-sm-4"><img src="{$smarty.const.IMGTOP}symposium_2015/940d9cc3c02016a3aa9b6238e103045b-900_01-480.jpg" class="img-responsive img-thumbnail"></div>
</div>
{/block}
