{extends file='others.tpl'}
{block name=main}
<ul class="menu">
	<li><a href="{$smarty.const.TOP}/social_events.php">Social Events</a></li>
	<li><a href="{$smarty.const.TOP}/social_events/welcome_reception.php">Welcome Reception</a></li>
	<li><a href="{$smarty.const.TOP}/social_events/opening_night_concert.php">Opening Night Concert</a></li>
	<li><a href="{$smarty.const.TOP}/social_events/excursion.php">Excursion</a></li>
	<li><a href="{$smarty.const.TOP}/social_events/symposium_banquet.php">Symposium Banquet</a></li>
</ul>
<div class="page-header">
	<h1>Opening Night Concert</h1>
	<h2 id="ntu-chinese-orchestra">NTU Chinese Orchestra</h2>
</div>
<div class="row">
	<div class="col-sm-9">
		<p><strong>NTU Chinese Orchestra</strong>, a student club of National Taiwan University, is now ready to celebrate its 64th anniversary. Founded in March 1952, the orchestra has slowly progressed and gone through a variety of innovation until it reaches its great success today. With the vision to pursue the perfection of music, the orchestra aims to produce wonderful music for the audience to enjoy. As a result, the orchestra has won the Contest of Chinese Traditional Music for ten times consecutively.</p>
		<p>Today, there are approximately 200 members, most of which are students from National Taiwan University, while some come from neighboring colleges. The wide arrays of vivid school lives contribute to the diverse ways of playing music. Furthermore, the pluralistic style not only comes up with the splendid performance when performing for contests or concerts, but also makes the traditional music alive.</p>
		<p>With the purpose of promoting traditional Chinese music within the university, there are now plenty of sections within our club for students to practice the Chinese instruments. In these sections, new members can learn from the more experienced members. For one who has interest in learning to play Chinese instruments, there are also classes for them to learn and practice.</p>
		<p>Promoting traditional Chinese music to the world is the next goal of the orchestra in near future. As a result, the orchestra makes the effort to contact foreign orchestras for international collaboration. Recently, the orchestra is going to hold a concert with collaboration of Zheng club from Singapore this December.</p>
	</div>
	<div class="col-sm-3">
		<img src="{$smarty.const.IMGTOP}symposium_2015/7bcad4cb5eaec0c5def844711645461c-1-480.png" class="img-responsive img-thumbnail">
		<img src="{$smarty.const.IMGTOP}symposium_2015/2aa0b6041a01675b471d819e25cf5d1c-2.png" class="img-responsive img-thumbnail">
	</div>
</div>
{/block}
