{extends file='others.tpl'}
{block name=main}
<ul class="menu">
	<li><a href="{$smarty.const.TOP}/social_events.php">Social Events</a></li>
	<li><a href="{$smarty.const.TOP}/social_events/welcome_reception.php">Welcome Reception</a></li>
	<li class="active">Opening Night Concert</li>
	<li><a href="{$smarty.const.TOP}/social_events/excursion.php">Excursion</a></li>
	<li><a href="{$smarty.const.TOP}/social_events/symposium_banquet.php">Symposium Banquet</a></li>
</ul>
<div class="page-header">
	<h1 id="opening-night-concert">Opening Night Concert</h1>
</div>
<p>A small concert will be held right after the Welcome Reception. We hope to bring some peaceful and joyful atmosphere to you after a long day brain exercise.</p>
<p><a href="{$smarty.const.TOP}/social_events/ntu_orchestra.php">About the concert performers</a></p>
<div class="row">
	<div class="col-sm-8">
		<p>Location: 1<sup>st</sup> floor Conference Room<sup><span class="glyphicon glyphicon-flash" aria-hidden="true"></span></sup> of the Astro-Math Bldg.</p>
		<p><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Attentions: No food/drink in the conference room</p>
		<p>Date &amp; Time: Monday, December 14, 19:30 -20:30 pm</p>
		<p>Dress Code: Business Casual</p>
	</div>
	<div class="col-sm-4">
		 <img src="{$smarty.const.TOP}/img/social/AstroMathBldg1.png" class="img-responsive img-circle center-block">
	</div>
</div>
{/block}
