{extends file='others.tpl'}
{block name=main}
<ul class="menu">
	<li><a href="{$smarty.const.TOP}/social_events.php">Social Events</a></li>
	<li><a href="{$smarty.const.TOP}/social_events/welcome_reception.php">Welcome Reception</a></li>
	<li><a href="{$smarty.const.TOP}/social_events/opening_night_concert.php">Opening Night Concert</a></li>
	<li><a href="{$smarty.const.TOP}/social_events/excursion.php">Excursion</a></li>
	<li class="active">Symposium Banquet</li>
</ul>
<div class="page-header">
	<h1>Banquet at Formosa Pearl</h1>
</div>
<p>Let’s go taste one of the most famous kaiseke in Nothern Taiwan!</p>
<div class="row">
	<div class="col-sm-9">
		<p>Formosa Pearl, a restaurant for you to experience culture, art, history and creativity in one meal. All dishes are created by its head chef's dexterity. They cook with finesse to unveil the natural beauty of food. Food sourcing is always under their scrutiny, including seasonal fresh catch seafood and local farm products, exhibit Taiwan's dynamic agriculture. Without preset menu, Formosa Pearl always presents amazing dishes to exchange for your affection and satisfy even the pickiest diner.</p>
	</div>
	<div class="col-sm-3">
		<img src="{$smarty.const.TOP}/img/social/FormosaPearl1.jpg" class="img-responsive img-rounded">
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<img src="{$smarty.const.TOP}/img/social/FormosaPearl2.jpg" class="img-responsive img-rounded">
	</div>
	<div class="col-sm-9">
		<p>Website: <a href="http://www.formosapearl.com">http://www.formosapearl.com</a></p>
		<p>Address: 102, Sec.2, Da-fu Road, Zhuangwei Township, Yilan County</p>
		<p>Chinese: 宜蘭縣壯圍鄉美城村大福路二段102號</p>
		<p>Tel: +886 33908988</p>
	</div>
</div>
<h2>Map from NTU to Formosa Pearl</h2>
<a href="{$smarty.const.IMGTOP}symposium_2015/adfa735fdaada1b672d023d7535b9140-Map_from_NTU_to_Formosa_Pearl.jpg"><img src="{$smarty.const.IMGTOP}symposium_2015/adfa735fdaada1b672d023d7535b9140-Map_from_NTU_to_Formosa_Pearl-1440.jpg" class="img-responsive img-thumbnail"></a>
{/block}
