{extends file='others.tpl'}
{block name=main}
<ul class="menu">
	<li><a href="{$smarty.const.TOP}/social_events.php">Social Events</a></li>
	<li class="active">Welcome Reception</li>
	<li><a href="{$smarty.const.TOP}/social_events/opening_night_concert.php">Opening Night Concert</a></li>
	<li><a href="{$smarty.const.TOP}/social_events/excursion.php">Excursion</a></li>
	<li><a href="{$smarty.const.TOP}/social_events/symposium_banquet.php">Symposium Banquet</a></li>
</ul>
<div class="page-header">
	<h1 id="welcome-reception">Welcome Reception</h1>
</div>
<p>Welcome Reception will be held on Monday evening in the entrance hall of the Astro-Math Bldg. on NTU campus. All the participants and companions are cordially invited. Please come to enjoy the relaxed time with your old friends and new friends.</p>
<p>Location: 1<sup>st</sup> floor entrance hall of the Astro-Math Bldg.</p>
<p>Date &amp; Time: Monday, December 14, 18:30-19:30 pm</p>
<p>Dress Code: Business Casual</p>
<img src="{$smarty.const.TOP}/img/social/Map_AstroMathBldg.png" class="img-responsive img-thumbnail center-block">
{/block}
